//Chart

.chart {
  margin-top: em(30, 19);
  margin-left:-15px;
  margin-right:-15px;
  margin-bottom:2em;
  padding-top:15px;
}
.chart-container {
    position:relative;
    padding-bottom:32px;
    margin-bottom:3em;
    padding:0 15px;
    box-sizing: border-box;
    &-inner {
        position:relative;
        height:200px;
        margin-left:4rem;
        @include media(desktop) {
            height:350px;
        }
    }
    ul {
        font-size:14px;
    }
    ul:first-of-type {
        li {
            width:15.38%;
            margin-left:-4rem;
            top:0%;
        }
        li:nth-child(2) { top:25%; }
        li:nth-child(3) { top:50%; }
        li:nth-child(4) { top:75%; }
        li:nth-child(5) { top:100%; }
    }
    ul.tidal:first-of-type {
        li:nth-child(1) { top:0%; }
        li:nth-child(2) { top:30%; }
        li:nth-child(3) { top:60%; }
        li:nth-child(4) { top:90%; }
    }
    ul:last-of-type {
        li {
            width:15.38%;
            text-align:center;
            margin-top:0.8em;
        }
        li:nth-child(1) { top:100%;left:9.6%; }
        li:nth-child(2) { top:100%;left:24.98%; }
        li:nth-child(3) { top:100%;left:40.36%; }
        li:nth-child(4) { top:100%;left:55.74%; }
        li:nth-child(5) { top:100%;left:71.12%; }
    }
    ul:last-of-type.five-days {
        li {
            width:20%;
        }
        li:nth-child(1) { top:100%;left:2.5%; }
        li:nth-child(2) { top:100%;left:22.5%; }
        li:nth-child(3) { top:100%;left:42.5%; }
        li:nth-child(4) { top:100%;left:62.5%; }
        li:nth-child(5) { top:100%;left:82.5%; }
    }
    li {
        position:absolute;
        top:0;
        left:0;
        margin-top:-0.3em;
        line-height:1em;
        strong {
            font-weight:bold;
            display: inline-block;
            margin-top:-1px;
        }
    }
    svg {
        width:100%;
        height:100%;
        box-sizing:border-box;
    }
    .now {
        position:absolute;
        height:7px;
        width:7px;
        border:2px solid #005EA5;
        background-color:white;
        border-radius: 100%;
    }
}
.chart-legend {
    display:block;
    padding:0 15px;
    box-sizing: border-box;
    text-align:center;

    ol {
        @include core-16;
        display: block;
        overflow:auto;
        padding-left:5rem;
        li {
            line-height:1.5em;
            margin-left:1em;
            margin-right:1em;
            text-align:left;
            display:inline-block;
            box-sizing:border-box;
            span {
                color:$grey-1;
            }
        }
        li:before {
            border: 2px solid $grey-1;
            float: left;
            display: block;
            content: '';
            width: 0.75em;
            height: 0.75em;
            margin-top:0.2em;
            margin-right:0.5em;
        }
        li:nth-child(1):before { border-color:#005EA5; background-color:#CCDFED;}
        li:nth-child(2):before { border-color:$grey-1; background-color: #e6e7e8; }
    }
}
.chart-annotation {
    @include core-16;
    @include media(tablet) {
        position:absolute;
        left:100%;
        margin:0;
        width:50%;
        padding:0;  
    }      
    li {
        position:absolute;
        line-height:1.25em;
        padding-left:1.75em;
        width:50%;
        span {
            color:$grey-1;
        }
    }
    li:before {
        position:relative;
        border-bottom: 1px solid #333;
        float: left;
        display: block;
        content: '';
        width: 1.25em;
        height: 0.35em;
        margin-top:0.2em;
        margin-left:-1.75em;
    }
    // li:nth-child(1):before { border-color:#B10E1E;}
    // li:nth-child(2):before { border-color:#f47738; }
}
.level-table {
    td, th {
        @include core-16;
    }
    th {
        font-weight:700;
    }
    tbody td:first-child {
        @include core-16($tabular-numbers: true);
    }
}

// From Illustrator

.cls-1{fill:#CCDFED}
.cls-2{fill:#e6e7e8;}
.cls-3{stroke:$grey-3;shape-rendering:crispEdges;}
.cls-4{stroke:transparent;shape-rendering:crispEdges;}
.cls-10,.cls-11,.cls-12,.cls-3,.cls-4,.cls-8,.cls-9{stroke-miterlimit:10;}
.cls-4{shape-rendering:crispEdges;}
.cls-3{vector-effect:non-scaling-stroke;stroke-width:1px;}
.cls-10,.cls-11,.cls-12,.cls-13,.cls-14,.cls-4,.cls-8,.cls-9{stroke-width:2px;vector-effect:non-scaling-stroke;stroke-linejoin:round}
.cls-5{text-anchor:start;fill:#404041;font-family:"nta", Helvetica, Helvetica;}
.cls-5b{text-anchor:middle;fill:#404041;font-family:"nta", Helvetica, Helvetica;}
.cls-6{letter-spacing:-0.04em;}
.cls-7{letter-spacing:-0.02em;}
.cls-10,.cls-11,.cls-12,.cls-8,.cls-9{fill:none;}
.cls-8{stroke:#005EA5}
.cls-10,.cls-9{stroke:#6F777B;}
.cls-10{stroke-dasharray:4 4;}
.cls-14{stroke:#333;shape-rendering:crispEdges;}
.cls-13{stroke:#f47738;shape-rendering:crispEdges;}
.cls-12{stroke:#6F777B;shape-rendering:crispEdges;}
.cls-11{stroke:#B10E1E;shape-rendering:crispEdges;}
.cls-15{stroke:#097F96;stroke-width:2px;vector-effect:non-scaling-stroke;fill:#c1dfe4;}