//Chart

.chart {
  margin-top: em(40, 19);
}
.chart-container {
    padding-bottom:32px;
    margin-bottom:3em;
    &-inner {
        position:relative;
        height:200px;
        margin-left:5rem;
        @include media(desktop) {
            height:256px;
        }
    }
    ul {
        @include core-16;
    }
    font-size:10pt;
    ul:first-of-type {
        li {
            width:15.38%;
            margin-left:-5rem;
        }
        li:nth-child(2) { top:25%; }
        li:nth-child(3) { top:50%; }
        li:nth-child(4) { top:75%; }
        li:nth-child(5) { top:100%; }
    }
    ul:last-of-type {
        li {
            width:15.38%;
            text-align:center;
            margin-top:1em;
        }
        li:nth-child(1) { top:100%;left:3.85%; }
        li:nth-child(2) { top:100%;left:19.23%; }
        li:nth-child(3) { top:100%;left:34.61%; }
        li:nth-child(4) { top:100%;left:49.99%; }
        li:nth-child(5) { top:100%;left:65.37%; }
        li:nth-child(6) { top:100%;left:80.75%; }
    }
    li {
        position:absolute;
        top:0;
        left:0;
        line-height:1em;
        margin-top:-0.5em;
    }
    svg {
        width:100%;
        height:100%;
        box-sizing:border-box;
    }
    @include media(desktop) {
        float:left;
        width:80%;
    }
}
.chart-legend {
    display:block;
    padding-bottom:2em;
    ol {
        @include core-16;
        margin-left:5%;
        margin-right:5%;
        display: block;
        overflow:auto;
        li {
            line-height:1.5em;
            text-align:center;
            float:left;
            box-sizing:border-box;
            padding-left:1.5em;
            width:33.33%;
            @include media(desktop) {
                float:none;
                width:auto;
                margin-bottom:1.5em;
                text-align:left;
            }
        }
        span {
            display:inline-block;
            @include media(desktop) {
                float:none;
            }
        }
        li span:before {
            border: 2px solid red;
            float: left;
            display: block;
            content: '';
            width: 0.75em;
            height: 0.75em;
            margin-left: -1.5em;
            margin-top:0.1em;
        }
        li:nth-child(1) span:before { border-color:$orange; }
        li:nth-child(2) span:before { border-color:#097F96; background-color:#c1dfe4;}
        li:nth-child(3) span:before { border-color:$grey-1; background-color: #e6e7e8; border-style: dashed; }
        @include media(desktop) {
            margin:0;
            padding-left:2em;
        }
    }
    @include media(desktop) {
        margin:0;
        float:right;
        width:20%;
        padding:0;        
    }
}
.level-table {
    td, th {
        @include core-16;
    }
    th {
        font-weight:700;
    }
    tbody td:first-child {
        @include core-16($tabular-numbers: true);
    }
}

.level-chart {
    width:100%;
    height:400px;
}

