// Graphs

.column-full {
    display:inline-block;
    width:100%;
}
.graph {
    position:relative;
    margin-top: em(30, 19);
    margin-bottom: 2em;
    @include media(tablet) {
        margin-bottom: 1em;
    }
    @include media(desktop) {
        margin-bottom: 0.5em;
        width:80%;
    }
}

.graph-legend {
    margin-bottom: em(30, 19);
    @include core-16; 
    @include media(desktop) {
        position:absolute;
        left:100%;
        top:0;
        width:20%;
        margin-left:30px;
        margin-right:15px;
    }
    li {
        @include media(tablet) {
            display:inline-block;
            margin-right:1.5em;
        }
        @include media(desktop) {
            max-width:16em;
            margin-right:0;
        }
        padding-left:1.75em;
        padding-right:0em;
        margin-bottom:1.5em;
        box-sizing: border-box;
    }
    li:before {
        position:relative;
        content:' ';
        float:left;
        display:block;
        width: 18px;
        height: 4px;
        margin-left:-1.75em;
        border:0;
        top:-1px;
        left:1px;
        @include media(tablet) {
            top:2px;
        }
        background-color:$black;
    }
    li.property:before {
        background-color:rgba(#b10e1e, 0.3);
        height:16px;
    }
    li.land:before {
        background-color:rgba($orange, 0.3);
        height:16px;
    }
    li.normal:before {
        background-color:rgba($govuk-blue, 0.3);
        height:16px;
    }
    li.measured:before {
        background-color:transparent;
        border-bottom:$govuk-blue 4px solid;
        top:1px;
        @include media(tablet) {
            top:3px;
        }
    }
    li.forecast:before {
        background-color:transparent;
        border-bottom:#52585a 4px dotted;
        top:1px;
        @include media(tablet) {
            top:3px;
        }
    }
    li.max.max-off {
        padding-left:0;
    }
    li.max.max-off:before {
        display:none;
    }
    li.max:before {
        background-color:transparent;
        border-bottom:$black 4px solid;
        top:1px;
        @include media(tablet) {
            top:3px;
        }
    }
    .list-graph-labels li {
        display: inline-block;
        @include media(tablet) {
            display:block;
        }
    }
    .data-level {
        margin-top:0;
        margin-bottom: em(30, 19);
    }
    .data-level-item-heading {
        border-bottom:1px solid $grey-3;
        line-height:1.5;
        margin-bottom:0.5em;
        padding-left:1.5em;
    }
    .graph-legend-normal-level {
        @include media(tablet) {
            max-width:14em;
        }
    }
}

table.table-levels {
    margin-bottom:1.5em;
    thead {
        th {
          @include core-19($font-weight:bold);  
        }
        th:first-child {
            width:50%;
        }
        .numeric {
            padding-right:100px;
        }
    }
    tbody {
        td {
            position:relative;
        }
        .numeric {
            padding-right:100px;
            vertical-align:top;
        }
        .error {
            border:0;
            position:absolute;
            padding-top:inherit;
            padding-bottom:inherit;
            padding-left:0;
            bottom:0;
            right:0;
            width:80px;
            text-align:left;
        }
        .error:before {
            background-color: $black;
            @include border-radius(50%);
            content: '!';
            color: #fff;
            line-height:1;
            display:inline-block;
            font-family: arial;
            font-weight: bold;
            height: 1em;
            margin-left: 7px;
            margin-right: 2px;
            padding: 2px;
            text-align: center;
            width: 1em;
        }
    }
}

.graph svg {
    position:relative;
    overflow:visible;
    height:300px;
    width:100%;
    margin-bottom: em(20, 19);
    @include media(desktop) {
        height:450px;
    }
    .axis.y { 
        @include core-14($tabular-numbers: true); 
    }
    .axis.x { 
        @include core-14(); 
    }
    .axis path,
    .axis line {
        fill: none;
        stroke: $border-colour;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
    .axis.x .tick line {
        visibility:hidden;
    }
    .axis.x .tick-today {
        font-weight:bold;
    }
    .grid line {
        fill: none;
        stroke: $panel-colour;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
    .grid path {
        visibility: hidden;
    }
    .highest {
        stroke: $black;
        stroke-width: 2;
        shape-rendering: crispEdges;
    }
    .warning {
        stroke: #b10e1e; 
        stroke-width: 2;
        shape-rendering: crispEdges;
    }
    .warning-band {
        stroke-width: 0;
        fill: #fab8be; // 75% lightness of 30% shade (darker)
    }
    .alert {
        stroke: #f47738;
        stroke-width: 2;
        shape-rendering: crispEdges;
    }
    .alert-band {
        stroke-width: 0;
        fill: #fbcdb6; // 85% lightness of 40% shade (darker)
    }
    .normal-band {
        stroke-width: 0;
        fill: #b3deff; // 85% of 25% shade (darker) of #005EA5 (govuk-blue)
    }
    .observed-line { 
        stroke: $govuk-blue;
        stroke-width: 3;
        fill: none;
    }
    .observed-area { 
        fill: rgba($govuk-blue, 0.1);
    }
    /*
    .observed-focus .observed-line {
        stroke: rgba($govuk-blue, 1);
        stroke-width: 4;
    }
    .observed-focus .observed-area {
        fill: rgba($govuk-blue, 0.3);
    }
    */

    .forecast-line { 
        stroke-dasharray: 4, 2; 
        stroke: $grey-1;
        stroke-width: 3;
        fill: none;
    }
    .forecast-area { 
        fill: rgba($grey-2, 1);
    }
    .forecast-buffer { 
        stroke: rgba($grey-2, 1);
        stroke-width: 30;
        fill: none;
    }
    /*
    .forecast-focus .forecast-line {
        stroke: rgba($grey-1, 1);
        stroke-width: 4;
    }
    .forecast-focus .forecast-area {
        fill: rgba($grey-1, 0.4);
    }
    .forecast-focus .forecast-buffer {
        stroke: rgba($grey-1, 0.4);
    }
    */

    .locator-point {
        stroke-width: 3;
        stroke: $govuk-blue;
        fill: white; 
    }
    .locator-point-forecast {
        stroke: $grey-1;
    }
    .tool-tip-hidden {
        display:none;
    }
    .tool-tip-bg {
        fill:white;
        stroke-width: 1;
        stroke: rgba($black, 0.1);
    }
    .tool-tip-level {
        @include core-19($font-weight:bold);
    }
    .tool-tip-date {
        @include core-14();
    }
    .time-line {
        stroke-width: 1;
        stroke: rgba($black, 0.5);
        shape-rendering: crispEdges; 
    }
    .time-now {
        @include core-16();
    }
}