// Graphs

.graph {
    position:relative;
    margin-top: em(30, 19);
}

.graph-legend {
    margin-bottom: em(30, 19);
    @include core-16; 
    @include media(tablet) {
        position:absolute;
        left:100%;
        top:0;
        width:50%;
        margin-left:30px;
        margin-right:15px;
    }
    li {
        @include media(tablet) {
            max-width:16em;
        }
        padding-left:1.5em;
        padding-right:2em;
        margin-bottom:1.5em;
        box-sizing: border-box;
    }
    li:before {
        position:relative;
        content:' ';
        float:left;
        display:block;
        width: 14px;
        height: 6px;
        margin-left:-1.5em;
        border:0;
        top:4px;
        left:1px;
        width:11px;
        @include media(tablet) {
            left:2px;
            top:6px;
            width:12px;
        }
        background-color:$black;
    }
    li.property:before {
        background-color:$red;
    }
    li.land:before {
        background-color:$orange;
    }
    .data-level {
        margin-top:0;
        margin-bottom: em(30, 19);
    }
    .data-level-item-heading {
        border-bottom:1px solid $grey-3;
        line-height:1.5;
        margin-bottom:0.5em;
    }
}

table.table-levels {
    thead {
        th {
          @include core-19($font-weight:bold);  
        }
        th:first-child {
            width:50%;
        }
        .numeric {
            padding-right:100px;
        }
    }
    tbody {
        td {
            position:relative;
        }
        .numeric {
            padding-right:100px;
            vertical-align:top;
        }
        .error {
            border:0;
            position:absolute;
            line-height:1;
            padding-top:inherit;
            padding-bottom:inherit;
            padding-left:0;
            bottom:0;
            right:0;
            width:80px;
            text-align:left;
        }
        .error:before {
            background-color: $black;
            @include border-radius(50%);
            content: '!';
            color: #fff;
            display:inline-block;
            font-family: arial;
            font-weight: bold;
            height: 1em;
            line-height:1;
            margin-left: 5px;
            margin-right: 5px;
            padding: 2px;
            text-align: center;
            width: 1em;
        }
    }
}

.graph svg {
    
    position:relative;
    overflow:visible;
    height:300px;
    width:100%;
    margin-bottom: em(20, 19);
    @include media(desktop) {
        height:400px;
    }
    .axis.y { 
        @include core-14($tabular-numbers: true); 
    }
    .axis.x { 
        @include core-14(); 
    }
    .axis path,
    .axis line {
        fill: none;
        stroke: $border-colour;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
    .axis.x .tick line {
        visibility:hidden;
    }
    .grid line {
        fill: none;
        stroke: $panel-colour;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
    .grid path {
        visibility: hidden;
    }
    .warning {
        stroke: #b10e1e;
        stroke-width: 2;
        shape-rendering: crispEdges;
    }
    .alert {
        stroke: #f47738;
        stroke-width: 2;
        shape-rendering: crispEdges;
    }
    .observed-line { 
        stroke: $govuk-blue;
        stroke-width: 3;
        fill: none;
    }
    .observed-area { 
        fill: rgba($govuk-blue, 0.2);
    }
    .forecast-line { 
        stroke-dasharray: 4, 4; 
        stroke: $grey-1;
        stroke-width: 3;
        fill: none;
    }
    .forecast-area { 
        fill: rgba($grey-1, 0.2);
    }
    .locator-point {
        stroke-width: 3;
        stroke: $govuk-blue;
        fill: white; 
    }
    .locator-point-forecast {
        stroke: $grey-1;
    }
    .locator-line {
        stroke-width: 1;
        stroke: $black;
        shape-rendering: crispEdges; 
    }
}