// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

@import "govuk-elements";
@import 'util';
@import 'chart';

h1.heading-xlarge {
  margin-bottom: 20px;
}

// Phase banner

.phase-banner-disclaimer {
  @include media(tablet) {
    margin:0 -15px;
    p {
      box-sizing: border-box;
      padding:0 15px;
      width:66.66%;
    }
  }
}

// Page headings

.page-header .heading-xlarge {

  margin-top: em(45, 32);

  @include media(tablet) {
    margin-top: em(60, 48);
  }

}

.heading-nearby {
  margin-top: em(5, 16);
  margin-bottom: em(20, 16);
  @include media(tablet) {
    margin-top: em(5);
    margin-bottom: em(20);
  }
}

// Related

.related {
  border-top: 10px solid #005ea5;
  padding-top:5px;
  margin-top: 40px;
  margin-left:15px;

  .related-title {
    margin-top:0.3em;
  }

  .related-item {
    list-style:none;
    @include core-16;
    margin-bottom:0.5em;
  }
}


// Gaging station

.time-stamp {
  color:$grey-1;
  margin-top:-0.75em;
  margin-bottom:2em;
}

// Station data

.station-data {
  margin-top:em(15,19);
  border-top:1px solid $grey-2;
  h2 {
    margin-top: em(25, 16);
    margin-bottom: em(5, 16);
    @include media(tablet) {
      margin-top: em(30, 19);
      margin-bottom: em(5, 19);
    }
  }
}

// Target areas

.target-areas {
  border-top:1px solid $grey-2;
  margin-top:em(20,19);
  h2 {
    margin-top: em(25, 16);
    @include media(tablet) {
      margin-top: em(30, 19);
    }
  }
  [tabindex='-1'] {
    outline:0;
  }
}

.list-target-areas {
  li {
    a {
      margin-right:0.5em;
    }
  }
}

// Nearby measuring stations

.nearby-measuring-stations {
  border-top:1px solid $grey-2;
  margin-top:em(20,19);
  h2 {
    margin-top: em(25, 16);
    @include media(tablet) {
      margin-top: em(30, 19);
    }
  }
  .map-container {
    position:relative;
    width: 100%;
    height: 400px;
    border:1px solid $grey-2;
    overflow:hidden;
    > img {
      position:absolute;
      left:50%;
      top:50%;
      margin-left:-315px;
      margin-top:-200px;
    }
  }
  figcaption {
    h3:before {
      display:inline-block;
      background-color:#f18700;
      content: '';
      width: 0.75em;
      height: 0.75em;
      margin-top:0.2em;
      margin-right:0.4em;
    }
    h3:nth-of-type(2):before {
      background-color:#e3000f;
    }
  }
  margin-bottom:em(40,19);
}

// About river levels

.about-river-levels {
  border-top:1px solid $grey-2;
  h2 {
    margin-top: em(15, 16);
  }
  margin-bottom:em(40,19);
}

// Notices

.notice-flood-alert {
  position:relative;
  @extend .notice;
  margin-top: em(25, 16);
  margin-bottom: em(25, 16);
  @include media(tablet) {
    margin-top: em(25, 19);
    margin-bottom: em(25, 19);
  }
  .lede {
    margin-left:3em;
    @include media(tablet) {
      margin-left:2.75em;
    }
  }
  .notice-image {
    position:absolute;
    width:auto;
    height:42px;
    margin-top:-0.75em;
    @include media(tablet) {
      margin-top:-0.6em;
      height:51px;
    }
  }
}


// Inline alert

.alert-inline {
  white-space: nowrap;
  position:relative;
  padding-left:1.7em;
  @include core-16;
  .alert-inline-icon {
    position:absolute;
    width:1.35em;
    height:1.35em;
    top:-0.15em;
    margin-left:-1.7em;
    background-image:url('/public/images/icon-flood-alert.png');
    background-size:100%;
  }
  margin-top:0px;
  &.alert-inline--warning {
    color:$red;
    .alert-inline-icon {
      background-image:url('/public/images/icon-flood-warning.png');
    }
  }
  &.alert-inline--warning-removed {
    color:$black;
    padding-left:0;
  }
}

// Secondary nav

.secondary-nav {
  border-top:1px solid $grey-2;
  margin-top:em(35,19);
  ul.secondary-links {
    padding-top: em(30, 16);
    @include media(tablet) {
      padding-top: em(40, 19);
    }
    margin-left:-15px;
    margin-right:-15px;
    li {
      padding:0 15px;
      box-sizing: border-box;
      @include media(tablet) {
        width:33.33%;
        float:left;
      }
    }
  }
}

// Feedback

section.feedback {
  margin-top:em(30,16);
  @include media(tablet) {
    margin-top:em(30,19);
  }
}