// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

@import "govuk-elements";
@import 'util';
@import 'legacy';
@import 'graphs';


// Phase banner

.phase-banner-disclaimer {
	margin-top:15px;
	border:1px solid $grey-2;
	p {
		box-sizing: border-box;
		padding:0 10px;
	}
	@include media(tablet) {
		p {
			width:66.66%;
		}
	}
}

// Data visualisation

.visualisation-heading-measured {
    color:$govuk-blue;
}
.visualisation-heading-measured:before {
    position:relative;
    content:' ';
    display:inline-block;
    width:14px;
    height:6px;
    top:-2px;
    @include media(tablet) {
        width:12px;
        margin-right:0.2em;
    }
    line-height:1;
    background-color:$govuk-blue;
    margin-right:0.3em;
}
.visualisation-heading-forecast {
    margin-left:0.25em;
    color:#52585a;
}
.visualisation-heading-forecast:before {
    position:relative;
    content:' ';
    display:inline-block;
    width:14px;
    height:6px;
    top:-2px;
    @include media(tablet) {
        width:12px;
        margin-right:0.2em;
    }
    line-height:1;
    background-color:$grey-1;
    margin-right:0.3em;
    margin-left:0.1em;
}

.visualisation-table {
    max-height:30em;
    overflow:auto;
    width:100%;
    table th {
        @include core-16($font-weight:bold);
    }
    table td {
        @include core-16;
    }
    table td.numeric {
        @include core-16($tabular-numbers: true);
    }
}


