// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

@import "govuk-elements";
@import 'util';
@import 'legacy';
@import 'graphs';
@import 'tables';
@import 'maps';
@import 'social';
@import 'buttons';

// Flood map for planning

#confirm-location-page {
  .map {
    background:#eee url(/static/planning/public/images/map.jpeg) center center no-repeat;
    background-size:1256px 704px;
  }
  h1.heading-xlarge {
    margin-bottom: 20px;
  }
  .details-how-to-draw {
    margin-bottom:1.25em;
  }
  .multiple-choice-layers {
    margin-bottom:1.25em;
  }
}

// Visuallyhidden VoiceOver read order fix

.warning-inline .visuallyhidden {
  position:relative;
  display:inline-block;
  left:auto;
}

// Phase banner

.phase-banner-disclaimer {
	margin-top:15px;
	border:1px solid $grey-2;
	p {
		box-sizing: border-box;
		padding:0 10px;
	}
	@include media(tablet) {
		p {
			width:66.66%;
		}
	}
}

// Data visualisation

.visualisation-device {
  margin-top:1.25em;
}
.visualisation-more {
  margin-bottom:0;
}
.visualisation-table {
    max-height:30em;
    overflow:auto;
    width:100%;
    table th {
        @include core-16($font-weight:bold);
    }
    table td {
        @include core-16;
    }
    table td.numeric {
        @include core-16($tabular-numbers: true);
    }
}

// River level margin ovderides

.xlarge-river-level {
  margin-bottom: 0.75em;
}
.medium-river-level {
  margin-top: 1.25em;
  margin-bottom: 0;
}
.heading-nearby {
  margin-top: em(5, 16);
  margin-bottom: em(20, 16);
  @include media(tablet) {
    margin-top: em(5);
    margin-bottom: em(20);
  }
}
.next-steps {
  margin-top:1.5em;
}
.station-technical-data {
  margin-top:1em;
  p {
    margin-bottom:0;
  }
}

// Gaging station

.time-stamp {
  color:$grey-1;
  margin-top:-0.75em;
  margin-bottom:2em;
}

.lede-station {
  margin-bottom:0;
}

// Station data

.station-data {
  h2 {
    margin-top: em(30, 16);
    @include media(tablet) {
      margin-top: em(35, 19);
    }
  }
}

// Target areas

.target-areas {
  [tabindex='-1'] {
    outline:0;
  }
}

// List target areas

.list-target-areas li {
  margin-left:4em;
}
.list-target-areas-level {
  margin-left:-4em;
  display:inline-block;
  vertical-align: top;

}
.list-target-areas a {
  display:inline-block;
}

// About river levels

.about-river-levels {
  border-top:1px solid $grey-2;
  h2 {
    margin-top: em(15, 16);
  }
  margin-bottom:em(40,19);
}

// Notices

.notice.notice-flood-warning {
  margin-bottom:1.5em;
  strong {
      padding-left:72px;
  }
}
.notice.notice-flood-important {
  margin-bottom:1.5em;
}
.icon.icon-warning {
  @extend .icon-important;
  background-image:url('/public/images/icon-flood-warning-2x.png');
  background-size:100%;
  margin-top: -22px;
  margin-left: 2px;
  width:37px;
  height:37px;
}
.icon.icon-flood-warning {
  @extend .icon-important;
  background-image:url('/public/images/flood-warnings-icon.gif');
  background-size:100%;
  margin-top: -28px;
  margin-left: -1px;
  width:55px;
  height:55px;
}
.icon.icon-flood-alert {
  @extend .icon-important;
  background-image:url('/public/images/flood-alerts-icon.gif');
  background-size:100%;
  margin-top: -28px;
  margin-left: -1px;
  width:55px;
  height:55px;
}

// Warning inline

.warning-inline {
  @include core-16;
  &:before {
    display:inline-block;
    margin-right:0.2em;
    vertical-align:middle;
    position:relative;
    content:' ';
    top:-2px;
    width:22px;
    height:22px;
    background:url('/public/images/icon-flood-warning-2x.png');
    background-position:left top;
    background-size:100%;
    @include media(tablet) {
      width:26px;
      height:26px;
    }
  }
}

//  List target areas

.list .target-area-name {
  margin-right:0.25em;
}

// Secondary nav

.secondary-nav {
  margin-top: em(30, 16);
  @include media(tablet) {
    margin-top: em(50, 19);
  }
  ul.secondary-links {
    margin-left:-15px;
    margin-right:-15px;
    li {
      padding:0 15px;
      box-sizing: border-box;
      @include media(tablet) {
        width:50%;
        float:left;
      }
    }
  }
}

// LTFRI Map date

.date {
  display: block;
  margin-top: 10px;
  font-size: medium;
  color: #6f777b;
}

// LTFRI Map search

.map-controls {
  padding:10px;
  overflow:visible;
  position:relative;
  @include media(tablet) {
    padding:0 0 13px 0;
  }
}
#map-page .map-container .map-switch {
  float:left;
  margin-top:5px;
  margin-bottom:5px;
  margin-right:0;
  @include media(tablet) {
    width:35%;
  }
}
.map-search {
  @include media(tablet) {
    float:right;
    width:65%;
    margin-top:-3px;
  }
}
.map-controls form {
  position:relative;
  display:block;     
  padding:3px;
}
.map-controls .form-label {
    display:none;
    @include media(tablet) {
      text-align:right;
      float:left;
      margin-top:3px;
      left:0;
      width:30%;
      display:block;
      padding-top: 7px;
    }
}
.map-controls .button {
    float: left;
    width: 40px;
    height: 29px;
    margin:0;
    @include media(tablet) {
      position:absolute;
      margin-top:3px;
      right:0;
      width: 46px;
      height: 34px;
    }
}
.map-controls .button i {
    width: 21px;
    margin-left: -1px;
    color: #fff;
}
.map-search .map-search-input {
    @include media(tablet) {
      position:absolute;
      width:auto;
      margin-top:3px;
      left:32.5%;
      right:65px;
    }
}
.map-controls input {
    float: left;
    width:70%;
    padding: 4px 6px 2px 9px;
    margin:auto;
    @include media(tablet) {
      width:100%;
    }
}
#error-message {
    clear: both;
    display: block;
    padding-left: 10px;
    margin: 10px 15px 0 4px;
    border-left: 3px solid #b10e1e;
    color: #b10e1e;
    @include media(tablet) {
      margin-left:32.5%;
    }
}
.local-details {
  padding-left:15px;
  padding-right:15px;
  @include media(tablet) {
    padding-left:0;
    padding-right:0;
  }
}
.local-details .inner-content {
    position:relative;
    padding: 1em;
    background-color: #fff;
    border-left: solid 5px #e2e4e5;
    border-right: solid 5px #e2e4e5;
    margin:0 -7px 15px -7px;
    @include media(tablet) {
      margin-left:-5px;
      margin-right:-5px;
    }
}

// Print link

.print-link {
  @include core-16;
  margin-bottom:1.2em;
}
.print-link a {
    background: url('/public/images/icon-print.png') no-repeat 0% 50%;
    padding: 0.5em 0 0.5em 28px;
}

// Flood icons

.flood-icon {
  display:block;
  margin-bottom:0.75em;
}

// Prototyep only - Static map

/*
.ol-viewport {
  background-image:url('/static/long-term-flood-risk/public/images/map-national.png');
  background-position:top center;
  background-repeat:no-repeat;
}
*/
