<figure class="chart">

<figcaption class="chart-legend" role="presentation">

{% block stationLegend %}
<ol>
      <li class="area"><span>Latest recorderd level<br/>0.9m</span></li>
      <li class="area"><span>Highest forecast level<br/>0.91m</span></li>
</ol>
{% endblock %}

</figcaption>

<div class="chart-annotation">
<ol>
      <li>Property flooding possible (0.9m)</li>
      <li>Low-lying land flooding possible (0.91m)</li>
</ol>
</div>

<div class="chart-container">

<div class="chart-container-inner">

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 650 304" preserveAspectRatio="none">

      <g class="lines" transform="translate(0,2)">

      {% block chartLines %}
      {% endblock %}

      </g>

      </svg>

      {% block chartLevels %}
      {% endblock %}

      <ul>
      <li>Wed, 1 Feb</li>
      <li>Thu, 2 Feb</li>
      <li>Fri, 3 Feb</li>
      <li>Sat, 5 Feb</li>
      <li><strong class="bold-xsmall">Sun, 6 Feb</strong></li>
      <li>Mon, 7 Feb</li>
      </ul>

      <div class="now"><span class="visuallyhidden">Current time and level</span></div>

</div>

</div>

</figure>