<div class="phase-banner-beta phase-banner-disclaimer">
  <p>
    <strong class="phase-tag">Beta</strong>
    <span>
        Access to this private beta service is restricted. Please use it and <a href="https://docs.google.com/forms/d/e/1FAIpQLSeu2f7EOR4Jx_DF5Rd-7afHe6vZFKE2Rg0IWRFS4BtppojtRw/viewform" target="_blank">give us your feedback</a>. This will help us develop and improve the service for future users.
        <br><br>
        Alternatively, you can <a href="https://flood-warning-information.service.gov.uk/">view the live flood information service</a> at any time.
      </span>
  </p>
</div>
