<ul class="secondary-links">

    <li>
        <a class="media" href="/" id="5090" onclick="return false;">
            <img class="img" src="/public/images/ball-home.png" alt="National flood information service" />
            <span class="content">National flood information service</span>
        </a>
    </li>

    <!--
    <li>
        <a class="media" href="/long-term-flood-risk" id="5090" onclick="return false;">
            <img class="img" src="/public/images/ball-risk.png" alt="View your property's long term risk of flooding" />
            <span class="content">View your property's long term risk of flooding</span>
        </a>
    </li>
    -->

    <li>
        <a class="media" href="/map" id="5090" onclick="return false;">
            <img class="img" src="/public/images/ball-map.png" alt="View the current national flood situation" />
            <span class="content">View the current national flood situation</span>
        </a>
    </li>

</ul>