{% extends "layout.html" %}

{% block page_title %}Flood Information Service - GOV.UK{% endblock %}

{% block head %}
  {% include "partials/head.html" %}
  {% include "partials/snippets_head.html" %}
  <link rel="stylesheet" href="https://openlayers.org/en/v3.19.1/css/ol.css" type="text/css">
  <script src="https://openlayers.org/en/v3.19.1/build/ol.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

  {% include "partials/phase_banner.html" %}

  <div class="grid-row">
    
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">River and sea levels near</span>
        {% if location %}{{ location }}{% endif %}
      </h1>

      <p class="lede">Select a measuring station to view recorded and forecast river or sea levels</p>

      <ul class="list">
            <li>Irk
                  <ul class="list list-bullet">
                        <li><a href="/station/5034-flooding-possible">Irk at Collyhurst Weir<a/></li>
                  </ul>
            </li>
            <li>Irwell
                  <ul class="list list-bullet">
                        <li>Irwell at Adelphi Weir</li>
                        <li>Irwell at Manchester Racecourse</li>
                  </ul>
            </li>
      </ul>
      <p>&nbsp;</p>

      {% block message %}
      {% endblock %}

      <p>Alternative map view</p>

      <div id="map-stations" class="map-container"></div>

      <script type="text/javascript">
            var map = new ol.Map({
                  target: 'map-stations',
                  layers: [
                        new ol.layer.Tile({
                              source: new ol.source.OSM()
                        })
                  ],
                  view: new ol.View({
                        center: ol.proj.fromLonLat([-2.229598,53.493779]),
                        zoom: 12
                  }),
                  interactions: ol.interaction.defaults({
                        mouseWheelZoom:false
                  })
            });
      </script>

  </div>

</main><!-- / #content -->
{% endblock %}

{% block body_end %}

  <!-- GOV.UK elements redirect -->
  <script src="/public/javascripts/redirect.js"></script>
  {% include "partials/scripts.html" %}

{% endblock %}

