//
// Legacy
//

// Feedback

section.feedback {
    margin-top:em(30,16);
    @include media(tablet) {
        margin-top:em(30,19);
    }
}

// Maps

// Legend

.legend-item {
    text-align:center;
    margin-bottom:10px;

}
.legend-item .icon {
    position:relative;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    vertical-align: middle;
    margin-right:0.3em;
    @include media(tablet) {
        margin-left:50%;
        left:-25px;
        display:block;
        width:50px;
        height:50px;
        border-radius: 100%;
        margin-bottom:0.4em;
    }
}
.icon-high {
    background-color:#3D4489;
}
.icon-medium {
    background-color:#6699CD;
}
.icon-low {
    background-color:#A2CFFF;
}
.icon-very-low {
    background-color:#C4E1FF;
}

// Legacy overide
.legend-item:before {
    display:none !important;
}

// Overlay
#map-overlay .map-overlay-container .map-overlay-content {
    top:20px;
    @include media(tablet) {
        top:30px;
    }
}
