{% extends "station.html" %}


{% block page_title %}
Irk at Collyhurst Weir - River level - GOV.UK
{% endblock %}


{% block heading %}
River level
<span class="heading-secondary">Irk at Collyhurst Weir</span>
{% endblock %}


{% block message %}
<div class="notice">
    <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
    </i>
    <strong class="bold-small">
        No data is available for this measuring station as it is currently closed.    
    </strong>
</div>
<p style="margin-top:1.5em"><a href="">View nearby stations</a></p>
{% endblock %}


{% block riverLevels %}
{% endblock %}


{% block uncertainty %}
{% endblock %}


{% block nearby_areas %}
{% endblock %}