{% extends "station.html" %}


{% block page_title %}
Irk at Collyhurst Weir - Latest river level information - GOV.UK
{% endblock %}


{% block heading %}
<span class="heading-secondary">Latest river level information for</span>
Irk at Collyhurst Weir
{% endblock %}


{% block message %}
<p class="lede">We forecast that river levels here will be within this river's normal range during the next 36 hours. </p>
{% endblock %}


{% block riverLevels %}

<div class="grid-row">

	<div class="column-two-thirds">

		<section aria-labelledby="levels-heading" role="region">

			<h2 id="levels-heading" class="heading-large">
				River levels at this location
			</h2>       

			<p id="visualisation-heading" class="font-xsmall">
				<span class="visualisation-heading-measured">Measured levels</span> for the last 5 days <span class="visualisation-heading-forecast">Forecast levels</span> for the next 36 hours
			</p>

			<div class="visualisation">

				<!--
					If Google Charts available (Javascript, SVG or VML)
					remove hidden class and hidden attribute
				-->

				<div class="visualisation-inner hidden" hidden>

					<figure class="graph" role="presentation" aria-hidden="true">

						<div class="graph-inner">

							<!-- 
								Presentation and behavior only. Currently delivered through Goole Visualisation
							--> 

							<div class="google-visualisation">

								<svg id="graph" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 650 300" preserveAspectRatio="none">

									<g class="lines" transform="translate(0,2)">

										<!-- Historic area -->
										<polyline class="svg-1" points="0 300 0 232 500 264 500 300"/>
										<!-- Forecast area -->
										<polygon class="svg-2" points="650 258 650 300 500 300 500 264"/>
										<!-- Vertical grid lines -->
										<!--<line class="cls-3" x1="1" y1="0" x2="1" y2="300"/>-->
										<line class="svg-3" x1="62.5" y1="0" x2="62.5" y2="300"/>
										<line class="svg-3" x1="162.5" y1="0" x2="162.5" y2="300"/>
										<line class="svg-3" x1="262.5" y1="0" x2="262.5" y2="300"/>
										<line class="svg-3" x1="362.5" y1="0" x2="362.5" y2="300"/>
										<line class="svg-3" x1="462.5" y1="0" x2="462.5" y2="300"/>
										<line class="svg-3" x1="562.5" y1="0" x2="562.5" y2="300"/>
										<!--<line class="cls-3" x1="650" y1="0" x2="650" y2="300"/>-->
										<!-- Horizontal grid lines -->
										<line class="svg-3" x1="0" y1="75" x2="650" y2="75"/>
										<line class="svg-3" x1="0" y1="150" x2="650" y2="150"/>
										<line class="svg-3" x1="0" y1="225" x2="650" y2="225"/>
										<!-- Historic line -->
										<polyline class="svg-8" points="0 232 500 264"/>
										<!-- Forecast line -->
										<polyline class="svg-10" points="650 258 500 264"/>
										<!-- Baseline -->
										<line class="svg-4" x1="0" y1="300" x2="650" y2="300"/>
										<!-- Warning threshold -->
										<line class="svg-11" x2="0" y2="0" x1="650" y1="0"/>
										<!-- Alert threshold -->
										<line class="svg-13" x2="0" y2="187.5" x1="650" y1="187.5"/>

									</g>

								</svg>

								<ul>

									<li>1.60m</li>
									<li>1.40m</li>
									<li>1.20m</li>
									<li>1.00m</li>
									<li>0.80m</li>

								</ul>

								<ul>

									<li><span>Sat </span>7 Jan</li>
									<li><span>Sun </span>8 Jan</li>
									<li><span>Mon </span>9 Jan</li>
									<li><span>Tue </span>10 Jan</li>
									<li><strong><span>Wed </span>11 Jan</strong></li>

								</ul>

								<div class="tool-tip" style="left:76.75%;bottom:11.5%">
									<div class="tool-tip-inner">
										<strong class="tool-tip-value">1.49m</strong>
										<span class="tool-tip-item">Latest level</span>
										<span class="tool-tip-item">9:00am, 11 Jan</span>
										<span class="tool-tip-arrow"></span>
									</div>
								</div>

								<div class="now" style="left:76.75%;bottom:11.5%">
									<span>Current time and level</span>
									<svg width="16px" height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
										<circle cx="8" cy="8" r="5"/>
									</svg>
								</div>

							</div>

							<!--
								End Google Visualisation
							-->

						</div>

						<figcaption class="graph-legend a">

							<div class="graph-legend-inner">
								
								<ul>

									<li class="max">
										<span>1.80<abbr title="Metres">m</abbr> on 6 Dec 2015 is the highest level on record at this location
											<a href="#">Show on the graph</a>
										</span>
									</li>
									<li class="property">
										<span>At 1.60<abbr title="Metres">m</abbr> some property flooding is possible here and in
											<a class="scroll" href="#flood-warning">nearby areas</a>
										</span>
									</li>
									<li class="land">
										<span>At 1.10<abbr title="Metres">m</abbr> flooding of low-lying land is possible here and in
											<a class="scroll" href="#flood-alert">nearby areas</a>
										</span>
									</li>

								</ul>

							</div>

						</figcaption>

					</figure>

				</div>

				<!-- End dynamic render -->

				<!--
					If Google Charts available add class visuallyhidden
				-->

				<div class="visualisation-table">

					<div class="panel panel-border-narrow" aria-hidden="true">
						<p>
							A graph is available with JavaScript enabled and a modern browser
						</p>
					</div>

					<table class="table-levels" aria-labelledby="visualisation-heading">
						<thead>
							<tr>
								<th scope="col">Time</th> <!-- role="columnheader" ? -->
								<th scope="col" class="numeric">
									Level (<abbr title="Metres">m</abbr>)
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="col" colspan="2">
									<time datetime="2017-01-06T09:00+00:00">
										Friday 6 January	
									</time>
								</th>
							</tr>
							<tr>
								<td scope="row">
									<time datetime="2017-01-06T09:00+00:00">
										9:00am	
									</time>
								</td>
								<td class="numeric">
									0.43
									<span class="error">
										Error
									</span>
								</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td scope="row">
									<time datetime="2017-01-06T09:15+00:00">
										9:15am	
									</time>
								</td>
								<td class="numeric">
									0.48
								</td>
							</tr>	
						</tbody>
						<tbody>
							<tr>
								<th scope="col" colspan="2">
									<time datetime="2017-01-06T09:00+00:00">
										Saturday 7 January	
									</time>
								</th>
							</tr>
							<tr>
								<td scope="row">
									<time datetime="2017-01-06T09:00+00:00">
										9:00am
										<em class="forecast">
											(Latest recorded)
										</em>		
									</time>
								</td>
								<td class="numeric">
									0.59
									<span class="error">
										Error
									</span>
								</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td scope="row">
									<time datetime="2017-01-06T09:30+00:00">
										9:30am
										<em class="forecast">
											(Forecast)
										</em>	
									</time>
								</td>
								<td class="numeric">
									0.65
								</td>
							</tr>	
							<tr>
								<td scope="row">
									<time datetime="2017-01-06T09:45+00:00">
										9:45am
										<em class="forecast">
											(Highest forecast)
										</em>	
									</time>
								</td>
								<td class="numeric">
									0.63
								</td>
							</tr>
						</tbody>
					</table>

				</div>

				<!--
					End Google charts available
				-->

			</div>

		</section>

	</div>

</div>

<!-- Remove -->
<script>
	var visualisation = document.getElementsByClassName('visualisation')
	for (i=0; i<visualisation.length; i++){
		var table = visualisation[i].getElementsByClassName('visualisation-table')[0]
		var inner = visualisation[i].getElementsByClassName('visualisation-inner')[0]
		table.className += ' visuallyhidden'
		inner.className = 'visualisation-inner'
		inner.removeAttribute('hidden')
	}
</script>
<!-- End remove -->

{% endblock %}


{% block nearby_areas %}
<h2 class="heading-medium" id="nearby-areas2">What effect could these levels have on nearby areas?</h2>
<p>The normal range at this location is 0.05m to 1.10m.</p>
<p>The latest level recorded is 0.90m at 9.00am on Wednesday 11 Jan 2017.</p>
<p>The highest level forecast in the next 36 hours is 0.91m at 9.00pm on Thursday 12 Jan 2017</p>
<h3 class="heading-small heading-nearby" id="flood-alert">Above 1.10m flooding of low-lying land may occur in these areas</h3>
<ul class="list list-bullet">
	<li><a href="/static/journey/step-3-2.html" onclick="return false;">Upper Irk Catchment</a></li>
</ul>
<h3 class="heading-small heading-nearby" id="flood-warning">Above 1.50m some property flooding may occur in these areas</h3>
<ul class="list list-bullet">
	<li><a href="https://flood-warning-information.service.gov.uk/target-area/013FWFGM92" onclick="return false;">River Irk at Crumpsall Hospital</a></li>
	<li><a href="https://flood-warning-information.service.gov.uk/target-area/013FWFGM75" onclick="return false;">River Irk at Cheetham Hill</a></li>
	<li><a href="https://flood-warning-information.service.gov.uk/target-area/013FWFGM91" onclick="return false;">River Irk at Vale Park Industrial Estate</a></li>
	<li><a href="https://flood-warning-information.service.gov.uk/target-area/013FWFGM92" onclick="return false;">River Irk at Crumpsall Hospital</a></li>
	<li><a href="https://flood-warning-information.service.gov.uk/target-area/013FWFGM93" onclick="return false;">River Irk at Kendall Road</a></li>
	<li><a href="https://flood-warning-information.service.gov.uk/target-area/013FWFGM94" onclick="return false;">River Irk at New Bridge</a></li>
	<li><a href="https://flood-warning-information.service.gov.uk/target-area/013FWFGM95" onclick="return false;">River Irk at Rhodes</a></li>
	<li><a href="https://flood-warning-information.service.gov.uk/target-area/013FWFGM96" onclick="return false;">River Irk at Little Green</a></li>
	<li><a href="https://flood-warning-information.service.gov.uk/target-area/013FWFGM97" onclick="return false;">River Irk at Chadderton Fold</a></li>
</ul>
{% endblock %}