{% extends "station.html" %}

{% block page_title %}
Irk at Collyhurst Weir - Latest river level information - GOV.UK
{% endblock %}

{% block heading %}
<span class="heading-secondary">Latest river level information for</span>
Irk at Collyhurst Weir
{% endblock %}

{% block message %}
<p class="lede">We forecast that river levels here will be within this river's normal range during the next 36 hours. </p>
{% endblock %}

{% block chartLines %}
<!-- Historic area -->
<polyline class="cls-1" points="0 300 0 232 500 264 500 300"/>
<!-- Forecast area -->
<polygon class="cls-2" points="650 258 650 300 500 300 500 264"/>
<!-- Vertical grid lines -->
<!--<line class="cls-3" x1="1" y1="0" x2="1" y2="300"/>-->
<line class="cls-3" x1="62.5" y1="0" x2="62.5" y2="300"/>
<line class="cls-3" x1="162.5" y1="0" x2="162.5" y2="300"/>
<line class="cls-3" x1="262.5" y1="0" x2="262.5" y2="300"/>
<line class="cls-3" x1="362.5" y1="0" x2="362.5" y2="300"/>
<line class="cls-3" x1="462.5" y1="0" x2="462.5" y2="300"/>
<line class="cls-3" x1="562.5" y1="0" x2="562.5" y2="300"/>
<!--<line class="cls-3" x1="650" y1="0" x2="650" y2="300"/>-->
<!-- Horizontal grid lines -->
<line class="cls-3" x1="0" y1="75" x2="650" y2="75"/>
<line class="cls-3" x1="0" y1="150" x2="650" y2="150"/>
<line class="cls-3" x1="0" y1="225" x2="650" y2="225"/>
<!-- Historic line -->
<polyline class="cls-8" points="0 232 500 264"/>
<!-- Forecast line -->
<polyline class="cls-10" points="650 258 500 264"/>
<!-- Baseline -->
<line class="cls-4" x1="0" y1="300" x2="650" y2="300"/>
<!-- Warning threshold -->
<line class="cls-11" x2="0" y2="0" x1="650" y1="0"/>
<!-- Alert threshold -->
<line class="cls-13" x2="0" y2="187.5" x1="650" y1="187.5"/>
{% endblock %}

{% block chartLevels %}
<ul>
      <li>1.6m</li>
      <li>1.4m</li>
      <li>1.2m</li>
      <li>1.0m</li>
      <li>0.8m</li>
</ul>
{% endblock %}

{% block chart_current_level %}
<div class="now" style="left:75.8%;bottom:10%">
      <span class="visuallyhidden">Current time and level</span>
</div>
{% endblock %}

{% block nearby_areas %}
<h2 class="heading-medium" id="nearby-areas2">What effect could these levels have on nearby areas?</h2>
<p>No warnings are in force in nearby areas</p>
<p>Context, current level, forecast level and normal range</p>
<h3 class="heading-small heading-nearby" id="flood-alert">Above 1.10m flooding of low-lying land may occur in parts of these areas</h3>
<ul class="list list-bullet">
  <li><a href="/static/journey/step-3-2.html">Upper Irk Catchment</a></li>
</ul>
<h3 class="heading-small heading-nearby" id="flood-warning">Above 1.50m some property flooding may occur in these areas</h3>
<ul class="list list-bullet">
  <li><a href="https://flood-warning-information.service.gov.uk/target-area/013FWFGM92" onclick="return false;">River Irk at Crumpsall Hospital</a></li>
  <li><a href="https://flood-warning-information.service.gov.uk/target-area/013FWFGM75" onclick="return false;">River Irk at Cheetham Hill</a></li>
  <li><a href="https://flood-warning-information.service.gov.uk/target-area/013FWFGM91" onclick="return false;">River Irk at Vale Park Industrial Estate</a></li>
  <li><a href="https://flood-warning-information.service.gov.uk/target-area/013FWFGM92" onclick="return false;">River Irk at Crumpsall Hospital</a></li>
  <li><a href="https://flood-warning-information.service.gov.uk/target-area/013FWFGM93" onclick="return false;">River Irk at Kendall Road</a></li>
  <li><a href="https://flood-warning-information.service.gov.uk/target-area/013FWFGM94" onclick="return false;">River Irk at New Bridge</a></li>
  <li><a href="https://flood-warning-information.service.gov.uk/target-area/013FWFGM95" onclick="return false;">River Irk at Rhodes</a></li>
  <li><a href="https://flood-warning-information.service.gov.uk/target-area/013FWFGM96" onclick="return false;">River Irk at Little Green</a></li>
  <li><a href="https://flood-warning-information.service.gov.uk/target-area/013FWFGM97" onclick="return false;">River Irk at Chadderton Fold</a></li>
  </ul>
{% endblock %}