{% extends "station.html" %}


{% block page_title %}
Irk at Collyhurst Weir - River level - GOV.UK
{% endblock %}


{% block heading %}
River level
<span class="heading-secondary">Irk at Collyhurst Weir</span>
{% endblock %}


{% block message %}
<div class="notice notice-flood-important">
    <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
    </i>
    <strong class="bold-small">
       Station currently closed    
    </strong>
</div>
<p>No data is available. <a href="">View nearby measuring stations</a> or <a href="">check for flood warnings near you</a>.</p>
{% endblock %}


{% block riverLevels %}
{% endblock %}


{% block nearby_stations %}
{% endblock %}


{% block uncertainty %}
{% endblock %}


{% block nearby_areas %}
{% endblock %}