{% extends "station.html" %}


{% block page_title %}
Irk at Collyhurst Weir - River level - GOV.UK
{% endblock %}


{% block heading %}
River level
<span class="heading-secondary">Irk at Collyhurst Weir</span>
{% endblock %}


{% block message %}
<div class="notice notice-flood-warning">
	<i class="icon icon-flood-warning">
		<span class="visually-hidden">Warning</span>
	</i>
	<strong class="bold-small">
		<a href="#nearby-areas">Flood warnings issued nearby</a>
	</strong>
</div>
<!--<p>Flooding of property in nearby areas is possible in the next <time datetime="36h">36 hours</time>.</p>-->
<p>Latest recorded level <span class="bold-small">2.42m</span> at <span class="bold-small"><time datetime="2017-05-16T12:00:00">12:00pm on 16 May 2017</time></span>.</p>
{% endblock %}


{% block riverLevels %}
<div class="grid-row">
	<div class="column-full">
		<h2 class="heading-medium medium-river-level" id="visualisation-heading">
			Levels: last 5 days and next 36 hours
		</h2>   
		<div class="visualisation-device panel panel-border-narrow" aria-hidden="true">
			<p>
				A graph is available with JavaScript enabled and a modern browser
			</p>
		</div>
		<div class="visualisation-summary" id="visualisation-summary">
			<p>The water level has risen from 1.50m at <time datetime="2017-05-11T14:00:00">2pm on 11 May</time> to 2.42m at <time datetime="2017-05-16T12:00:00">12pm today</time> (latest recording). The forecast is for the level to rise sharply to 4.65m at <time datetime="2017-05-17T05:00:00">5:00am on 17 May</time> (forecast highest) and then fall to 2.95m at <time datetime="2017-05-18T02:00:00">2am on 18 May</time>. <a href="#low-lying-land" rel="nofollow">Low lying land may flood</a> from <time datetime="2017-05-16T07:00:00">7pm on 16 May</time> and <a href="#property" rel="nofollow">property flooding is possible</a> from <time datetime="2017-05-17T01:00:00">1am on 17 May</time>.</p>
		</div>
		<!--
			If D3 available (Javascript, SVG or VML)
			remove hidden class and hidden attribute
		-->
		<div class="visualisation-inner hidden" hidden>
			<figure class="graph" role="presentation" aria-hidden="true">
				<div id="graph"></div>
				<figcaption class="graph-legend">
					<ul>
						<li class="measured">
							<span>Measured level</span>
						</li>
						<li class="forecast">
							<span>Forecast level</span>
						</li>
						<li class="property">
							<span>Property flooding possible</span>
						</li>
						<li class="land">
							<span>Low lying land may flood</span>
						</li>
						<li class="normal">
							<span>Typical range</span>
						</li>
						<li class="max max-off">
							<span>
								<a href="" class="button-hide-threshold" role="button" aria-controls="graph" onclick="return false">
									Show highest recorded level
								</a>
							</span>
						</li>
					</ul>
				</figcaption>
			</figure>
		</div>
		<!--
			End D3 available
		-->
	</div>
</div>

<!-- Remove -->
<script>
	var visualisation = document.getElementsByClassName('visualisation')
	for (i=0; i<visualisation.length; i++){
		//var table = visualisation[i].getElementsByClassName('visualisation-table')[0]
		var inner = visualisation[i].getElementsByClassName('visualisation-inner')[0]
		var summary = visualisation[i].getElementsByClassName('visualisation-summary')[0]
		var device = visualisation[i].getElementsByClassName('visualisation-device')[0]
		//table.className += ' visuallyhidden'
		summary.className += ' visuallyhidden'
		device.className += ' visuallyhidden'
		inner.className = 'visualisation-inner'
		// Remove taindex from summary links
		summaryLinks = summary.getElementsByTagName('a')
		for (var i=0; i < summaryLinks.length; i++) {
			summaryLinks[i].setAttribute('tabindex', '-1');
		}
		inner.removeAttribute('hidden')
	}
</script>
<!-- End remove -->

{% endblock %}

{% block nearby_areas %}
<section id="nearby-areas" class="nearby-areas" aria-labelledby="nearby-areas-heading" role="status" aria-live="polite">
	<div class="grid-row">
		<div class="column-full">
			<h2 class="heading-medium" id="nearby-areas-heading">What effect could these levels have on nearby areas?</h2>

			<!--
			<table style="margin-bottom:1em" class="table-nearby-areas">
				<caption class="visuallyhidden">What effect could these levels have on nearby areas</caption>
				<tbody>
					<tr>
						<th scope="row" style="width:15%">Typical range</th>
						<td colspan="3">0.75m to 2.70m</td>
					</tr>
					<tr>
						<th scope="row">Low lying land may flood</th>
						<td>2.70m</td>
						<td><a href="">River Irk lower catchment</a></td>
						<td class="last">Flood alert in force</td>
					</tr>
					<tr>
						<th rowspan="4" scope="rowgroup">Property flooding is possible</th>
						<td scope="row">4.35m</td>
						<td><a href="">River Irk lower catchment</a></td>
						<td class="last">Flood warning in force</td>
					</tr>
					<tr>
						<td scope="row">4.37m</td>
						<td><a href="">River Irk lower catchment</a></td>
						<td class="last">Flood warning in force</td>
					</tr>
					<tr>
						<td scope="row">4.50m</td>
						<td><a href="">River Irk at Vale Park Industrial Estate</a></td>
						<td class="last"></td>
					</tr>
					<tr>
						<td scope="row">4.65m</td>
						<td><a href="">Another target area</a></td>
						<td class="last">Flood warning no longer in force</td>
					</tr>
					<tr>
						<th scope="row">Highest level recorded</th>
						<td colspan="3">5.10m on 6 December 2015</td>
					</tr>
				</tbody>
			</table>
			-->

			<table style="margin-bottom:1em" class="table-nearby-areas">
				<caption class="visuallyhidden">Typical range</caption>
				<tr>
					<th scope="col" colspan="3">Typical range</th>
				</tr>
				<tr>
					<td scope="row" colspan="3">0.75m to 2.70m</td>
				</tr>
				<tr>
					<th id="low-lying-land" scope="col" colspan="3">Low lying land may flood</th>
				</tr>
				<tr>
					<td style="width:10%" scope="row">2.70m</td>
					<td><a href="">River Irk lower catchment</a></td>
					<td style="width:40%" class="last">
						<strong class="warning-inline">
							Flood alert in force
						</strong>
					</td>
				</tr>
				<tr>
					<th id="property" scope="col" colspan="3">Property flooding is possible</th>
				</tr>
				<tr>
					<td style="width:10%" scope="row">4.35m</td>
					<td><a href="">River Irk at Vale Park Industrial Estate</a></td>
					<td style="width:40%" class="last">
						<strong class="warning-inline">
							Flood warning in force
						</strong>
					</td>
				</tr>
				<tr>
					<td scope="row">4.37m</td>
					<td><a href="">River Irk at Cheetham Hill</a></td>
					<td class="last">
						<strong class="warning-inline">
							Flood warning in force
						</strong>
					</td>
				</tr>
				<tr>
					<td scope="row">4.50m</td>
					<td colspan="2"><a href="">River Irk at Vale Park Industrial Estate</a></td>
				</tr>
				<tr>
					<td scope="row">4.65m</td>
					<td><a href="">Another target area</a></td>
					<td class="last">
						<strong class="font-xsmall">
							Flood warning no longer in force
						</strong>
					</td>
				</tr>
				<tr>
					<th scope="col" colspan="3">Highest level recorded</th>
				</tr>
				<tr>
					<td scope="row" colspan="3">5.10m on 6 December 2015</td>
				</tr>
			</table>
		</div>
	</div>
</section>
{% endblock %}