{% extends "station.html" %}


{% block page_title %}
Irk at Collyhurst Weir - River level - GOV.UK
{% endblock %}


{% block heading %}
River level
<span class="heading-secondary">Irk at Collyhurst Weir</span>
{% endblock %}


{% block message %}
<!--<p>The water level here is currently within this river's typical range. The likelihood of flooding in nearby areas is low.</p>-->
<p>Latest recorded level <span class="bold-small">1.90m</span> at <span class="bold-small"><time datetime="2017-05-16T12:00:00">12:00pm on 16 May 2017</time></span>.</p>
{% endblock %}


{% block riverLevels %}
<section class="visualisation" id="visualisation" aria-labelledby="visualisation-heading" aria-live="polite">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h2 id="visualisation-heading" class="heading-medium medium-river-level">
				Levels during the last 5 days
			</h2>   
			<div class="visualisation-device panel panel-border-narrow" aria-hidden="true">
				<p>
					A graph is available with JavaScript enabled and a modern browser
				</p>
			</div>
			<div id="visualisation-summary" class="visualisation-summary">
				<p>The water level has risen gently from 1.62m at <time datetime="2017-05-11T14:00:00">2pm on 11 May</time> to 1.90m at <time datetime="2017-05-16T12:00:00">12pm today</time> (latest recording). Throughout this time the level has remained within the typical range. Should the level rise to above 2.7m flooding would be possible.</p>
			</div>
		</div>
	</div>
	<div class="grid-row">	
		<div class="column-full">
			<!--
				If D3 available (Javascript, SVG or VML)
				remove hidden class and hidden attribute
			-->
			<div class="visualisation-inner hidden" hidden>
				<figure class="graph" aria-hidden="true">
					<div id="graph"></div>
					<figcaption class="graph-legend">
						<ul>
							<li class="measured">
								<span>Measured level</span>
							</li>
							<li class="land">
								<span>Flooding possible</span>
							</li>
							<li class="normal">
								<span>Typical range</span>
							</li>
							<li class="max max-off">
								<span>
									<a href="" class="button-hide-threshold" role="button" aria-controls="visualisation" onclick="return false">
										Show highest recorded level
									</a>
								</span>
							</li>
						</ul>
					</figcaption>
				</figure>
			</div>
			<!-- End D3 available-->
		</div>
	</div>

	<!-- Remove -->
	<script>
		var visualisation = document.getElementsByClassName('visualisation')
		for (i=0; i<visualisation.length; i++){
			//var table = visualisation[i].getElementsByClassName('visualisation-table')[0]
			var inner = visualisation[i].getElementsByClassName('visualisation-inner')[0]
			var summary = visualisation[i].getElementsByClassName('visualisation-summary')[0]
			var device = visualisation[i].getElementsByClassName('visualisation-device')[0]
			//table.className += ' visuallyhidden'
			summary.className += ' visuallyhidden'
			device.className += ' visuallyhidden'
			inner.className = 'visualisation-inner'
			// Remove taindex from summary links
			summaryLinks = summary.getElementsByTagName('a')
			for (var i=0; i < summaryLinks.length; i++) {
				summaryLinks[i].setAttribute('tabindex', '-1');
			}
			inner.removeAttribute('hidden')
		}
	</script>
	<!-- End remove -->

	<p class="visualisation-more"><a href="">How river levels are measured and forecast?</a></p>
	
</section>
{% endblock %}


{% block nearby_areas %}
<section id="nearby-areas" class="nearby-areas" aria-labelledby="nearby-areas-heading" role="status" aria-live="polite">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h2 class="heading-medium" id="nearby-areas-heading">What effect could these levels have on nearby areas?</h2>
			<h3 class="heading-small">Typical range at this location</h3>
			<p>0.75m to 2.70m</p>
			<h3 class="heading-small">Flooding possible</h3>
			<p>2.70m</p>
			<h3 class="heading-small">Highest level recorded at this location</h3>
			<p>5.10m on 6 December 2015</p>
		</div>
	</div>
</section>
{% endblock %}