{% extends "station.html" %}

{% block page_title %}
Irish Sea at Silloth Docks - Latest tidal level information - GOV.UK
{% endblock %}

{% block heading %}
<span class="heading-secondary">Latest tidal level information for</span>
Irish Sea at Silloth Docks
{% endblock %}

{% block message %}
<p class="lede">Tidal flooding possible</p>
{% endblock %}

{% block affects %}
<details>

<summary><span class="summary">How might tidal levels affect flood risk?</span></summary>

<div class="panel panel-border-narrow">

        <h2 class="heading-small">Within normal range</h2>
        <p>This is the usual range of river levels at this station, based on historical data.</p>

        <h2 class="heading-small">Above normal range</h2>
        <p>This means that flooding is possible because river levels at this station are currently higher than usual.</p>
        <p>Many factors can influence the possibility of flooding - river levels are only one indicator. Always check if there's a flood warning in place at a particular location.</p>

        <h2 class="heading-small">Below normal range</h2>
        <p>This means that river levels at this station are currently lower than usual.</p>
        <p>Drought or water management measures may be in place. Please check for the latest information on water resources and restrictions in your area.</p>

</div>

</details>
{% block endblock %}

{% block level %}0.29m{% endblock %}

{% block range %}0.9m to 0.91m{% endblock %}

{% block stationDataHeading %}
Tidal levels for the last 5 days and forecast levels for the next 36 hours
{% endblock %}

{% block chartLines %}
<!-- Historic area -->
<polyline class="cls-1" points="0 300 0 232 500 264 500 300"/>
<!-- Forecast area -->
<polygon class="cls-2" points="650 258 650 300 500 300 500 264"/>
<!-- Vertical grid lines -->
<line class="cls-3" x1="25" y1="0" x2="25" y2="300"/>
<line class="cls-3" x1="125" y1="0" x2="125" y2="300"/>
<line class="cls-3" x1="225" y1="0" x2="225" y2="300"/>
<line class="cls-3" x1="325" y1="0" x2="325" y2="300"/>
<line class="cls-3" x1="425" y1="0" x2="425" y2="300"/>
<line class="cls-3" x1="525" y1="0" x2="525" y2="300"/>
<line class="cls-3" x1="625" y1="0" x2="625" y2="300"/>
<!-- Horizontal grid lines -->
<line class="cls-3" x1="0" y1="75" x2="650" y2="75"/>
<line class="cls-3" x1="0" y1="150" x2="650" y2="150"/>
<line class="cls-3" x1="0" y1="225" x2="650" y2="225"/>
<!-- Historic line -->
<polyline class="cls-8" points="0 232 500 264"/>
<!-- Forecast line -->
<polyline class="cls-10" points="650 258 500 264"/>
<!-- Baseline -->
<line class="cls-4" x1="0" y1="300" x2="650" y2="300"/>
<!-- Warning threshold -->
<line class="cls-11" x2="0" y2="0" x1="650" y1="0"/>
<!-- Now
<line class="cls-12" x1="500" y1="0" x2="500" y2="300"/>
 -->
<!-- Alert threshold -->
<line class="cls-13" x2="0" y2="187.5" x1="650" y1="187.5"/>
{% endblock %}

{% block chartLevels %}
<li>1.6m</li>
<li>1.4m</li>
<li>1.2m</li>
<li>1.0m</li>
<li>0.8m</li>
{% endblock %}