{% extends "layout.html" %}

{% block page_title %}Learn more about the ways we describe flood risk - GOV.UK{% endblock %}

{% block head %}
  {% include "partials/head.html" %}  
  <link rel="stylesheet" type="text/css" href="/static/long-term-flood-risk/public/stylesheets/application.css">
  {% include "partials/snippets_head.html" %}
{% endblock %}

{% block content %}
<div id="content" class="wrapper">
	<div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">beta</strong>
      <span>
        This is a new service – your <a href="/long-term-flood-risk/feedback">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <link rel="stylesheet" type="text/css" href="/static/long-term-flood-risk/public/stylesheets/search/index.css">

  <main id="search-page">
    <div id="banner"></div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Learn more about the ways we describe flood risk</h1>
        <h2 class="heading-medium">Flood risk from rivers or the sea</h2>
        <p id="rivers-seas-high"><strong class="bold-small">High risk</strong> means that each year this area has a chance of flooding of greater than 3.3%. This takes into account the effect of any flood defences in the area. These defences reduce but do not completely stop the chance of flooding as they can be overtopped, or fail.</p>
        <p id="rivers-seas-medium"><strong class="bold-small">Medium risk</strong> means that each year this area has a chance of flooding of between 1% and 3.3%. This takes into account the effect of any flood defences in the area. These defences reduce but do not completely stop the chance of flooding as they can be overtopped, or fail.</p>
        <p id="rivers-seas-low"><strong class="bold-small">Low risk</strong> means that each year this area has a chance of flooding of between 0.1% and 1%. This takes into account the effect of any flood defences in the area. These defences reduce but do not completely stop the chance of flooding as they can be overtopped, or fail.</p>
        <p id="rivers-seas-very-low"><strong class="bold-small">Very low risk</strong> means that each year this area has a chance of flooding of less than 0.1%. This takes into account the effect of any flood defences in the area. These defences reduce but do not completely stop the chance of flooding as they can be overtopped, or fail.</p>
        <h2 class="heading-medium">Flood risk from surface water</h2>
        <p id="surface-water-high"><strong class="bold-small">High risk</strong> means that each year this area has a chance of flooding of greater than 3.3%. Flooding from surface water is difficult to predict as rainfall location and volume are difficult to forecast.</p>
        <p id="surface-water-low"><strong class="bold-small">Low risk</strong> means that each year this area has a chance of flooding of between 0.1% and 1%. Flooding from surface water is difficult to predict as rainfall location and volume are difficult to forecast.</p>
        <p id="surface-water-very-low"><strong class="bold-small">Very low risk</strong> means that each year this area has a chance of flooding of less than 0.1%. Flooding from surface water is difficult to predict as rainfall location and volume are difficult to forecast.</p>
        <h2 class="heading-medium">High groundwater levels may cause flooding</h2>
        <p>Flooding and disruption is possible in the local area when groundwater levels are high.</p>
        <h2 class="heading-medium">How to use this information</h2>
        <p>You can use this information to <a href="">see which areas are more likely to flood first, deepest, or most often</a>.</p>
        <p>This information is suitable for identifying which parts of counties or towns are at risk, or have the most risk. It's also suitable for identifying the approximate extent of flooding and the shallower and deeper areas of flooding. It's unlikely to be reliable for a local area and very unlikely to be reliable for identifying individual properties at risk.</p>
        <h2 class="heading-medium">Risk of flooding from reservoirs</h2>
        <p>If a location is at risk, flooding from reservoirs is extremely unlikely. There has been no loss of life in the UK from reservoir flooding since 1925.</p>
        <p>An area is considered at risk if peoples' lives could be threatened by an uncontrolled release of water from a reservoir. You can <a href="">see a map of the potential extent of flooding</a> if this happened.</p>
        <h2 class="heading-medium">Planning a development</h2>
        <p>This information is not suitable for use in land-use planning. If you’re planning a development, you must use the <a href="">Risk of Flooding for Land-Use Planning (Rivers and Sea) for England</a> or <a href="">Development Advisory Map for Wales</a>. This is information based on flooding without defences.</p>
      </div>
    </div>
  </main>

</div>

{% endblock %}

{% block footer_support_links %}
<h2 class="visuallyhidden">Support links</h2>
<ul>
    <li><a href="https://www.gov.uk/help">Help</a></li>
    <li><a href="https://www.gov.uk/help/cookies">Cookies</a></li>
    <li><a href="https://www.gov.uk/contact">Contact</a></li>
    <li><a href="https://www.gov.uk/cymraeg">Cymraeg</a></li>
    <li>Built by the <a href="https://www.gov.uk/government/organisations/environment-agency">Environment Agency</a>
    </li>
</ul>
<p class="font-xsmall">&#169; Crown copyright and database rights 2017 <a href='http://www.ordnancesurvey.co.uk'>OS</a> 100024198. Use of this addressing  data is subject to the <a href="/long-term-flood-risk/os-terms">terms and conditions</a>.</p>
{% endblock %}

{% block body_end %}

  <!-- GOV.UK elements redirect -->
  <!--<script src="/public/javascripts/redirect.js"></script>-->
  {% include "partials/scripts.html" %}

{% endblock %}

