{% extends "layout.html" %}

{% block page_title %}Learn more about the ways we describe flood risk - GOV.UK{% endblock %}

{% block head %}
  {% include "partials/head.html" %}  
  <link rel="stylesheet" type="text/css" href="/static/long-term-flood-risk/public/stylesheets/application.css">
  {% include "partials/snippets_head.html" %}
{% endblock %}

{% block content %}
<div id="content" class="wrapper">
	<div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">beta</strong>
      <span>
        This is a new service – your <a href="/long-term-flood-risk/feedback">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

  <link rel="stylesheet" type="text/css" href="/static/long-term-flood-risk/public/stylesheets/search/index.css">

  <main id="search-page">
    <div id="banner"></div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">Learn more about the ways we describe flood risk</h1>

        <h2 class="heading-medium">Flood risk from rivers or the sea</h2>
        <p id="rivers-seas-high"><strong class="bold-small">High risk</strong> means that each year this area has a chance of flooding of greater than 3.3%. This takes into account the effect of any flood defences in the area. These defences reduce but do not completely stop the chance of flooding as they can be overtopped, or fail.</p>
        <p id="rivers-seas-medium"><strong class="bold-small">Medium risk</strong> means that each year this area has a chance of flooding of between 1% and 3.3%. This takes into account the effect of any flood defences in the area. These defences reduce but do not completely stop the chance of flooding as they can be overtopped, or fail.</p>
        <p id="rivers-seas-low"><strong class="bold-small">Low risk</strong> means that each year this area has a chance of flooding of between 0.1% and 1%. This takes into account the effect of any flood defences in the area. These defences reduce but do not completely stop the chance of flooding as they can be overtopped, or fail.</p>
        <p id="rivers-seas-very-low"><strong class="bold-small">Very low risk</strong> means that each year this area has a chance of flooding of less than 0.1%. This takes into account the effect of any flood defences in the area. These defences reduce but do not completely stop the chance of flooding as they can be overtopped, or fail.</p>

        <h2 class="heading-medium">Flood risk from surface water</h2>
        <p id="surface-water-high"><strong class="bold-small">High risk</strong> means that each year this area has a chance of flooding of greater than 3.3%. Flooding from surface water is difficult to predict as rainfall location and volume are difficult to forecast. In addition, local features can greatly affect the chance and severity of flooding.</p>
        <p id="surface-water-medium"><strong class="bold-small">Medium risk</strong> means that each year this area has a chance of flooding of between 1% and 3.3%. Flooding from surface water is difficult to predict as rainfall location and volume are difficult to forecast. In addition, local features can greatly affect the chance and severity of flooding.</p>
        <p id="surface-water-low"><strong class="bold-small">Low risk</strong> means that each year this area has a chance of flooding of between 0.1% and 1%. Flooding from surface water is difficult to predict as rainfall location and volume are difficult to forecast. In addition, local features can greatly affect the chance and severity of flooding.</p>
        <p id="surface-water-very-low"><strong class="bold-small">Very low risk</strong> means that each year this area has a chance of flooding of less than 0.1%. Flooding from surface water is difficult to predict as rainfall location and volume are difficult to forecast. In addition, local features can greatly affect the chance and severity of flooding.</p>

        <h2 class="heading-medium">Flood risk from groundwater</h2>
        <p>In some locations, high groundwater levels can cause flooding and disruption in the local area.</p>

        <h2 class="heading-medium">Flood risk from reservoirs</h2>
        <p>If a location is at risk, flooding from reservoirs is extremely unlikely. There has been no loss of life in the UK from reservoir flooding since 1925.</p>
        <p>An area is considered at risk if peoples' lives could be threatened by an uncontrolled release of water from a reservoir. You can <a href="">see a map of the potential extent of flooding</a> if this happened.</p>

        <h2 class="heading-medium">Flood risk when you’re planning a development</h2>
        <p>This information is not suitable for use in land-use planning. If you’re planning a development, you must use the <a href="">Risk of Flooding for Land-Use Planning (Rivers and Sea) for England</a> or <a href="">Development Advisory Map for Wales</a>. This is information based on flood risk assuming no defences are in place.</p>
        
      </div>
    </div>
  </main>

</div>

{% endblock %}

{% block footer_support_links %}
<h2 class="visuallyhidden">Support links</h2>
<ul>
    <li><a href="https://www.gov.uk/help">Help</a></li>
    <li><a href="https://www.gov.uk/help/cookies">Cookies</a></li>
    <li><a href="https://www.gov.uk/contact">Contact</a></li>
    <li><a href="https://www.gov.uk/cymraeg">Cymraeg</a></li>
    <li>Built by the <a href="https://www.gov.uk/government/organisations/environment-agency">Environment Agency</a>
    </li>
</ul>
<p class="font-xsmall">&#169; Crown copyright and database rights 2017 <a href='http://www.ordnancesurvey.co.uk'>OS</a> 100024198. Use of this addressing  data is subject to the <a href="/long-term-flood-risk/os-terms">terms and conditions</a>.</p>
{% endblock %}

{% block body_end %}

  <!-- GOV.UK elements redirect -->
  <!--<script src="/public/javascripts/redirect.js"></script>-->
  {% include "partials/scripts.html" %}

{% endblock %}

