{% extends "layout.html" %}

{% block page_title %}Long term flood risk - GOV.UK{% endblock %}

{% block head %}
  {% include "partials/head.html" %}  
  <link rel="stylesheet" type="text/css" href="/static/long-term-flood-risk/public/stylesheets/application.css">
  {% include "partials/snippets_head.html" %}
{% endblock %}

{% block content %}
<div id="content" class="wrapper">
	<div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">beta</strong>
      <span>
        This is a new service – your <a href="/long-term-flood-risk/feedback">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

<link rel="stylesheet" type="text/css" href="/static/long-term-flood-risk/public/stylesheets/search/index.css">
<main id="search-page">
  <div id="banner"></div>
  <section class="mission">
    <h1 class="heading-xlarge">Long term flood risk assessment for locations in England</h1>
    <p>Use this service to find out:</p>
    <ul class="list list-bullet">
      <li>how likely it is that a place could flood in the future</li>
      <li>what factors could cause or contribute to any potential flooding</li>
      <li>where to find more information about managing your flood risk</li>
    </ul>
  </section>
  <div class="grid-row">
    <div class="column-two-thirds">
      <form method="get" action="/long-term-flood-risk/risk">
        <div class="form-group">
          <span class="form-label">Postcode</span>
          <h4 class="heading-small postcode-display">HX7 5DZ</h4><a href="/long-term-flood-risk/">Change</a>
          <label class="form-label" for="address">Choose your address from this list</label>
          <select id="address" name="address" required>
              <option value="">Please choose</option>
              <option value="100051349026" selected>6, NEW ROAD, MYTHOLMROYD, HEBDEN BRIDGE, HX7 5DZ</option>
          </select>
        </div>
        <div class="form-group">
          <button class="button" type="submit" title="Continue">Continue</button>
        </div>
      </form>
    </div>
  </div>
  <details>
    <summary aria-expanded="false" role="button"><span class="summary">The address I want isn’t here</span></summary>
    <div class="panel panel-border-narrow" aria-hidden="true">
      The address you’re looking for may not be listed if it’s part of a newly-built development.
      <br>
      <br>
      Choose another address nearby to see a flood risk map of the general area or <a href="/long-term-flood-risk/">start your search again.</a>
    </div>
  </details>
  <br>
  <details>
    <summary aria-expanded="false" role="button">
      <span class="summary">Other ways of getting this information</span>
    </summary>
    <div class="panel panel-border-narrow" aria-hidden="true">
      <ul class="contact-numbers">
        <li><span class="contact-type">Call Floodline:</span> 0345 988 1188</li>
        <li><span class="contact-type">Type talk:</span> 0345 602 6340 <em>(for the hard of hearing)</em></li>
      </ul>
      <br>
      <div class="call-charges">
        <p>
          <a href="https://www.gov.uk/call-charges" rel="external" title="Find out more about call charges">Find out more about call charges</a>
        </p>
    </div>
  </details>
  <br>
  <br>
  <section class="secondary-links">
    <div class="grid-row">
      <div class="column-third">
        <a class="media" href="https://flood-warning-information.service.gov.uk">
          <img class="img" src="/public/images/ball-home.png" alt="National flood information service">
          <span class="content">National flood information service</span>
        </a>
      </div>
      <div class="column-third">
        <a class="media" href="https://flood-warning-information.service.gov.uk/river-and-sea-levels">
          <img class="img" src="/public/images/ball-river-sea-level.png" alt="View the latest river and sea levels near you">
          <span class="content">View the latest river and sea levels near you</span>
        </a>
      </div>
      <div class="column-third">
        <a class="media" href="https://flood-warning-information.service.gov.uk/map">
          <img class="img" src="/public/images/ball-map.png" alt="View the current national flood situation">
          <span class="content">View the current national flood situation</span>
        </a>
      </div>
    </div>
  </section>
</main>

  <div class="grid-row">
	<div class="column-two-thirds">
		<p>Your <a href="/long-term-flood-risk/feedback">feedback</a> will help us improve this service</p>
	</div>
</div>

</div>

{% endblock %}

{% block footer_support_links %}
<h2 class="visuallyhidden">Support links</h2>
<ul>
    <li><a href="https://www.gov.uk/help">Help</a></li>
    <li><a href="https://www.gov.uk/help/cookies">Cookies</a></li>
    <li><a href="https://www.gov.uk/contact">Contact</a></li>
    <li><a href="https://www.gov.uk/cymraeg">Cymraeg</a></li>
    <li>Built by the <a href="https://www.gov.uk/government/organisations/environment-agency">Environment Agency</a>
    </li>
</ul>
<p class="font-xsmall">&#169; Crown copyright and database rights 2017 <a href='http://www.ordnancesurvey.co.uk'>OS</a> 100024198. Use of this addressing  data is subject to the <a href="/long-term-flood-risk/os-terms">terms and conditions</a>.</p>
{% endblock %}

{% block body_end %}

  <!-- GOV.UK elements redirect -->
  <!--<script src="/public/javascripts/redirect.js"></script>-->
  {% include "partials/scripts.html" %}

{% endblock %}

