{% extends "layout.html" %}

{% block page_title %}Graphs - FIS Prototype - GOV.UK{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

	{% include "partials/phase_banner.html" %}
	{% include "partials/breadcrumb.html" %}

	<div class="grid-row">

		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				<span class="heading-secondary">FIS Prototype</span>
				Graphs
			</h1>

			<p>Visualisation for measuring station</p>

		</div>

	</div>

	<div class="grid-row">

		<div class="column-two-thirds">

			<section aria-labelledby="levels-heading" role="region">

				<h2 id="levels-heading" class="heading-large">
					River levels at this location
				</h2>       

				<p id="visualisation-heading">
					Recorded levels for the last 5 days and forecast levels for the next 36 hours
				</p>

				<div class="visualisation">

					<!--
						If Google Charts available (Javascript, SVG or VML)
						remove hidden class and hidden attribute
					-->

					<div class="visualisation-inner hidden" hidden>

						<figure class="graph" role="presentation" aria-hidden="true">

							<div class="graph-inner">

								<!-- 
									Presentation and behavior only. Currently delivered through Goole Visualisation
								--> 

								<div class="google-visualisation">

									<svg id="graph" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 650 300" preserveAspectRatio="none">

										<g class="lines" transform="translate(0,2)">

											<!-- Historic area -->
											<polyline class="svg-1" points="0 300 0 225 250 200 500 110 500 300"></polyline>
											<!-- Forecast area -->
											<polygon class="svg-2" points="650 50 650 300 500 300 500 110"></polygon>
											<!-- Vertical grid lines -->
											<line class="svg-3" x1="1" y1="0" x2="1" y2="300"></line>
											<line class="svg-3" x1="62.5" y1="0" x2="62.5" y2="300"></line>
											<line class="svg-3" x1="162.5" y1="0" x2="162.5" y2="300"></line>
											<line class="svg-3" x1="262.5" y1="0" x2="262.5" y2="300"></line>
											<line class="svg-3" x1="362.5" y1="0" x2="362.5" y2="300"></line>
											<line class="svg-3" x1="462.5" y1="0" x2="462.5" y2="300"></line>
											<line class="svg-3" x1="562.5" y1="0" x2="562.5" y2="300"></line>
											<line class="svg-3" x1="650" y1="0" x2="650" y2="300"></line>
											<!-- Horizontal grid lines -->
											<line class="svg-3" x1="0" y1="0" x2="650" y2="0"></line>
											<line class="svg-3" x1="0" y1="150" x2="650" y2="150"></line>
											<line class="svg-3" x1="0" y1="225" x2="650" y2="225"></line>
											<!-- Historic line -->
											<polyline class="svg-8" points="0 225 250 200 500 110"></polyline>
											<!-- Forecast line -->
											<polyline class="svg-10" points="650 50 500 110"></polyline>
											<!-- Baseline -->
											<line class="svg-4" x1="0" y1="300" x2="650" y2="300"></line>
											<!-- Alert threshold -->
											<line class="svg-13" x2="0" y2="262.5" x1="650" y1="262.5"></line>
											<!-- Warning threshold -->
											<line class="svg-11" x2="0" y2="75" x1="650" y1="75"></line>
											<!-- Highest recorded -->
											<line class="svg-14" x2="0" y2="0" x1="650" y1="0"></line>

										</g>

									</svg>

									<ul>

										<li>1.8m</li>
										<li>1.6m</li>
										<li>1.4m</li>
										<li>1.2m</li>
										<li>1.0m</li>

									</ul>

									<ul>

										<li><span>Sat </span>7 Jan</li>
										<li><span>Sun </span>8 Jan</li>
										<li><span>Mon </span>9 Jan</li>
										<li><span>Tue </span>10 Jan</li>
										<li><strong><span>Wed </span>11 Jan</strong></li>

									</ul>

									<div class="now" style="left:76.5%;bottom:62.25%">
										<span>Current time and level</span>
									</div>

								</div>

								<!--
									End Google Visualisation
								-->

							</div>

							<span class="graph-button">
								<a href="#">Hide highest recorded level</a>
							</span>

							<figcaption class="graph-legend">

								<div class="graph-legend-inner">
								
									<ul>

										<li>
											<span class="icon icon-max">
												<svg width="14px" height="14px" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
													<rect x="1" y="1" width="12" height="12"/>
												</svg> 
											</span>
											<div class="data">
												<span class="data-item bold-small data-item-forecast">
													1.80<abbr title="Metres">m</abbr>
												</span>
												<span class="data-item font-xsmall">highest level on record at this location</span>
											</div>
										</li>
										<li>
											<span class="icon icon-forecast">
												<svg width="14px" height="14px" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
													<rect x="1" y="1" width="12" height="12"/>
												</svg> 
											</span>
											<div class="data">
												<span class="data-item bold-small data-item-forecast">
													1.67<abbr title="Metres">m</abbr>
												</span>
												<span class="data-item font-xsmall">Highest level on record at this location</span>
											</div>
										</li>
										<li>
											<span class="icon icon-property">
												<svg width="14px" height="14px" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
													<rect x="1" y="1" width="12" height="12"/>
												</svg> 
											</span>
											<div class="data">
												<span class="data-item bold-small data-item-forecast">
													1.60<abbr title="Metres">m</abbr>
												</span>
												<span class="data-item font-xsmall">At this level some property flooding is possible here and in
													<a class="scroll" href="#flood-warning">nearby areas</a>
												</span>
											</div>
										</li>
										
									</ul>

									<ul>

										<li>
											<span class="icon icon-latest">
												<svg width="14px" height="14px" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
													<rect x="1" y="1" width="12" height="12"/>
												</svg> 
											</span>
											<div class="data">
												<span class="data-item bold-small data-item-latest">
													1.49<abbr title="Metres">m</abbr>
												</span>
												<span class="data-item font-xsmall">latest recorded level</span>
											</div>
										</li>
										<li>
											<span class="icon icon-land">
												<svg width="14px" height="14px" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
													<rect x="1" y="1" width="12" height="12"/>
												</svg> 
											</span>
											<div class="data">
												<span class="data-item bold-small data-item-forecast">
													1.10<abbr title="Metres">m</abbr>
												</span>
												<span class="data-item font-xsmall">At this level flooding of low-lying land is possible here and in
													<a class="scroll" href="#flood-alert">nearby areas</a>
												</span>
											</div>
										</li>

									</ul>

								</div>

							</figcaption>

						</figure>

					</div>

					<!-- End dynamic render -->

					<!--
						If Google Charts available add class visuallyhidden
					-->

					<div class="visualisation-table">

						<div class="panel panel-border-narrow" aria-hidden="true">
							<p>
								A graph is available with JavaScript enabled and a modern browser
							</p>
						</div>

						<table class="table-levels" aria-labelledby="visualisation-heading">
							<thead>
								<tr>
									<th scope="col">Time</th> <!-- role="columnheader" ? -->
									<th scope="col" class="numeric">
										Level (<abbr title="Metres">m</abbr>)
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="col" colspan="2">
										<time datetime="2017-01-06T09:00+00:00">
											Friday 6 January	
										</time>
									</th>
								</tr>
								<tr>
									<td scope="row">
										<time datetime="2017-01-06T09:00+00:00">
											9:00am	
										</time>
									</td>
									<td class="numeric">
										0.43
										<span class="error">
											Error
										</span>
									</td>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td scope="row">
										<time datetime="2017-01-06T09:15+00:00">
											9:15am	
										</time>
									</td>
									<td class="numeric">
										0.48
									</td>
								</tr>	
							</tbody>
							<tbody>
								<tr>
									<th scope="col" colspan="2">
										<time datetime="2017-01-06T09:00+00:00">
											Saturday 7 January	
										</time>
									</th>
								</tr>
								<tr>
									<td scope="row">
										<time datetime="2017-01-06T09:00+00:00">
											9:00am
											<em class="forecast">
												(Latest recorded)
											</em>		
										</time>
									</td>
									<td class="numeric">
										0.59
										<span class="error">
											Error
										</span>
									</td>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td scope="row">
										<time datetime="2017-01-06T09:30+00:00">
											9:30am
											<em class="forecast">
												(Forecast)
											</em>	
										</time>
									</td>
									<td class="numeric">
										0.65
									</td>
								</tr>	
								<tr>
									<td scope="row">
										<time datetime="2017-01-06T09:45+00:00">
											9:45am
											<em class="forecast">
												(Highest forecast)
											</em>	
										</time>
									</td>
									<td class="numeric">
										0.63
									</td>
								</tr>
							</tbody>
						</table>

					</div>

					<!-- Remove -->
					<script>
						var table = document.getElementsByClassName('visualisation-table')[0]
						var inner = document.getElementsByClassName('visualisation-inner')[0]
						table.className += ' visuallyhidden'
						inner.className += 'visualisation-inner'
						inner.removeAttribute('hidden')
					</script>
					<!-- End remove -->

					<!--
						End Google charts available
					-->

				</div>

			</section>

		</div>

	</div>

</main><!-- / #content -->
{% endblock %}

{% block body_end %}
  <!-- GOV.UK elements redirect -->
  <!--<script src="/public/javascripts/redirect.js"></script>-->
  {% include "partials/scripts.html" %}
{% endblock %}