{% extends "layout.html" %}

{% block page_title %}FIS Prototype{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

  {% include "partials/phase_banner.html" %}
  {% include "partials/breadcrumb.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        FIS Prototype
      </h1>

    </div>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

      <h2 class="heading-large">John
        <span class="heading-secondary">Flood warnings in force</span>
      </h2>
      <p><a href="/static/journey/step-1c.html">User journey</a></p>
      
      <h2 class="heading-large">Liz
        <span class="heading-secondary">Flood warnings in force</span>
      </h2>
      <p><a href="/static/journey/step-1.html">User journey</a></p>
      
      <h2 class="heading-large">Trevor
        <span class="heading-secondary">No flood warnings in force</span>
      </h2>
      <p><a href="/static/journey/step-1b.html">User journey</a></p>

      <h2 class="heading-large">Measuring station screen</h2>
      <p>Layout variations</p>
      <ul>
        <li>
          <a href="/stations">Iteration 4</a> Alpha
        </li>
        <li>
          <a href="/stations-v3">Iteration 3</a> Alpha
        </li>
        <li>
          <a href="/static/v2/forecast-screen-sketches.pdf">Iteration 2 [PDF, 795KB]</a> Discovery
        </li>
        <li>
          <a href="/static/v1/powerpoint.pdf">Initial hypothesis [Powerpoint, 795KB]</a> Discovery
        </li>
      </ul>

    </div>
    
  </div>

  <hr>
  
  <h2 class="heading-medium">Looking for the styles?</h2>
  <p>The SASS files for <a href="https://github.com/EnvironmentAgency/fis-prototype/" rel="external">everything can be found on GitHub.</a></p>

</main><!-- / #content -->
{% endblock %}

{% block body_end %}
  <!-- GOV.UK elements redirect -->
  <script src="/public/javascripts/redirect.js"></script>
  {% include "partials/scripts.html" %}
{% endblock %}

