{% extends "layout.html" %}

{% block page_title %}FIS Prototype{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

  {% include "partials/phase_banner.html" %}
  {% include "partials/breadcrumb.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        FIS Prototype
      </h1>

    </div>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

      <h2 class="heading-medium heading-index">Iteration 3</h2>
      <p>Following lab based user testing</p>

      <ul>
        <li><a href="/journey/step-1">User journey</a></li>
        <li><a href="/stations">Measuring station screen - layout variations</a></li>
      </ul>

      <h2 class="heading-medium heading-index">Iteration 2</h2>
      <p>Following flood warden interviews</p>

      <ul>
        <li><a href="/stations-v2">Measuring station screen - layout variations</a></li>
      </ul>

      <h2 class="heading-medium heading-index">Iteration 1</h2>
      <p>Initial hypothesis derived from user research</p>

      <ul>
        <li><a href="/static/v1/forecast-screen-sketches.pdf">Forecast scenarios [PDF, 795KB]</a></li>
      </ul>

    </div>
    
  </div>

  <hr>
  
  <h2 class="heading-medium">Looking for the styles?</h2>
  <p>The SASS files for <a href="https://github.com/EnvironmentAgency/fis-prototype/" rel="external">everything can be found on GitHub.</a></p>

</main><!-- / #content -->
{% endblock %}

{% block body_end %}
  <!-- GOV.UK elements redirect -->
  <script src="/public/javascripts/redirect.js"></script>
  {% include "partials/scripts.html" %}
{% endblock %}

