{% extends "layout.html" %}

{% block page_title %}FIS Prototype{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

  {% include "partials/breadcrumb.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        FIS Prototype
      </h1>

      <p class="lede">User journey and page layout variations</p>

    </div>
  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

      <h2 class="heading-large">John</h2>
      <p>No flood warnings in force, he leaves</p>
      <p><a href="/static/journey/step-1c.html">User journey</a></p>
      
      <h2 class="heading-large">Liz</h2>
      <p>Flood warnings in force. Either leaves or continues her journey to monitor river levels. Forecast shows flooding is possible.</p>
      <p><a href="/static/journey/step-1.html">User journey</a></p>
      
      <h2 class="heading-large">Trevor</h2>
      <p>No flood warnings in force but proactively monitoring river levels as part of his info-gathering role.</p>
      <p><a href="/static/journey/step-1b.html">User journey</a></p>

      <h2 class="heading-large">Measuring station screen</h2>
      <p>Fixed error band / buffer implementation for public Beta</p>
      <ul class="list list-bullet">
        <li>
          <a href="/stations-v9">Iteration 9</a>
        </li>
      </ul>
      <p>Variations on showing showing uncertainty in private Beta</p>
      <ul class="list list-bullet">
        <li>
          <a href="/stations-v8">Iteration 8</a>
        </li>
        <li>
          <a href="/static/graphs/uncertainty-v7.pdf">Iteration 7 (PDF, 246KB)</a>
        </li>
      </ul>
      <p>Layout variations from discovery through private Beta</p>
      <ul class="list list-bullet">
        <li>
          <a href="/stations-v6">Iteration 6</a> Beta (Private)
        </li>
        <li>
          <a href="/stations-v5">Iteration 5</a> Alpha
        </li>
        <li>
          <a href="/stations-v4">Iteration 4</a> Alpha
        </li>
        <li>
          <a href="/stations-v3">Iteration 3</a> Alpha
        </li>
        <li>
          <a href="/static/v2/forecast-screen-sketches.pdf">Iteration 2 [PDF, 795KB]</a> Discovery
        </li>
        <li>
          <a href="/static/v1/discovery-outputs.pptx">Discovery Outputs [Powerpoint, 79KB]</a> Discovery
        </li>
      </ul>

      <h2 class="heading-large">Long term flood risk</h2>
      <ul class="list list-bullet">
        <li>
          <a href="/long-term-flood-risk">Example user journey (part)</a>
        </li>
        <li>
          <a href="/long-term-flood-risk/map">Map (with risk band overlay)</a>
        </li>
      </ul>

      <h2 class="heading-large">Flood map for planning</h2>
      <ul class="list list-bullet">
        <li>
          <a href="/flood-map-for-planning">Example user journey (part)</a>
        </li>
      </ul>

      <h2 class="heading-large">Service error pages</h2>
      <p>Long term flood risk</p>
      <ul class="list list-bullet">
        <li><a href="/holding-pages/long-term-flood-risk/service-unavailable">Service unavailable</a></li>
        <li><a href="/holding-pages/long-term-flood-risk/service-maintenance">Service maintenance</a></li>
      </ul>

      <h2 class="heading-large">Map patterns</h2>
      <ul class="list list-bullet">
        <li><a href="/map-warnings">Maps: warnings</a></li>
        <li><a href="/map-locator">Maps: locator</a></li>
      </ul>

      <h2 class="heading-large">SMS</h2>
      <ul class="list list-bullet">
        <li><a href="/sms-auto-opt-in">SMS auto opt in</a></li>
      </ul>

    </div>
    
  </div>

  <hr>
  
  <h2 class="heading-medium">Looking for the styles?</h2>
  <p>The SASS files for <a href="https://github.com/EnvironmentAgency/fis-prototype/" rel="external">everything can be found on GitHub.</a></p>

</main><!-- / #content -->
{% endblock %}

{% block body_end %}
  <!-- GOV.UK elements redirect -->
  <!--<script src="/public/javascripts/redirect.js"></script>-->
  {% include "partials/scripts.html" %}
{% endblock %}

