{% extends "layout.html" %}

{% block page_title %}Graphs - FIS Prototype - GOV.UK{% endblock %}

{% block head %}
  {% include "partials/head.html" %}
  {% include "partials/snippets_head.html" %}
  <!--<link rel="stylesheet" href="https://openlayers.org/en/v3.19.1/css/ol.css" type="text/css">-->
  <link rel="stylesheet" href="/public/stylesheets/vendor/ol.css" type="text/css">
  <script src="https://openlayers.org/en/v3.19.1/build/ol.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

	{% include "partials/phase_banner.html" %}
	{% include "partials/breadcrumb.html" %}

	<div class="grid-row">

		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				<span class="heading-secondary">FIS Prototype</span>
				Maps
			</h1>

		</div>

	</div>

	<div class="grid-row">

		<div class="column-two-thirds">

			<section aria-labelledby="flood-warning-area" role="region">

				<h2 id="flood-warning-area" class="heading-medium">
					Flood alert area - Option A
				</h2>       

				<div class="map" id="map"></div>

				<h2 id="flood-warning-area" class="heading-medium">
					Flood alert area - Option B
				</h2>       

				<div class="map" id="map-b"></div>

			</section>

		</div>

	</div>

</main>

{% endblock %}

{% block body_end %}
  <!-- GOV.UK elements redirect -->
  <!--<script src="/public/javascripts/redirect.js"></script>-->
  {% include "partials/scripts.html" %}

  <!-- Open layers -->
  <!-- Below is for visual and interaction reference only -->
  <!-- Will need to be converted to production code -->

	<script type="text/javascript">

		var geoJSON1 = '/public/javascripts/json/061waf06Coln.json';
		var geoJSON2 = '/public/javascripts/json/061fwf23CalcLech.json';

		var map = new ol.Map({
			target: 'map',
			layers: [
				new ol.layer.Tile({
					source: new ol.source.OSM()
				}),
				new ol.layer.Vector({
					source: new ol.source.Vector({
						format: new ol.format.GeoJSON(),
						url: geoJSON1,
						defaultProjection :'EPSG:4326', 
						projection: 'EPSG:3857'
					}),
					style: new ol.style.Style({
						stroke: new ol.style.Stroke({
							color: 'rgba(241,135,0,1)',
							width: 2
						}),
						fill: new ol.style.Fill({
							color: 'rgba(241,135,0,0.6)'
						})
					})
				}),
				new ol.layer.Vector({
					source: new ol.source.Vector({
						format: new ol.format.GeoJSON(),
						url: geoJSON2,
						defaultProjection :'EPSG:4326', 
						projection: 'EPSG:3857'
					}),
					style: new ol.style.Style({
						stroke: new ol.style.Stroke({
							color: 'rgba(241,135,0,0.5)',
							width: 2
						}),
						fill: new ol.style.Fill({
							color: 'rgba(241,135,0,0.4)'
						})
					})
				})
			],
			view: new ol.View({
				center: ol.proj.fromLonLat([-1.83,51.77]),
				zoom: 10
			})
		});

		/* Option B */

		var mapB = new ol.Map({
			target: 'map-b',
			layers: [
				new ol.layer.Tile({
					source: new ol.source.OSM()
				}),
				new ol.layer.Vector({
					source: new ol.source.Vector({
						format: new ol.format.GeoJSON(),
						url: geoJSON1,
						defaultProjection :'EPSG:4326', 
						projection: 'EPSG:3857'
					}),
					style: new ol.style.Style({
						stroke: new ol.style.Stroke({
							color: 'rgba(241,135,0,1)',
							width: 2
						}),
						fill: new ol.style.Fill({
							color: 'rgba(241,135,0,0.6)'
						})
					})
				}),
				new ol.layer.Vector({
					source: new ol.source.Vector({
						format: new ol.format.GeoJSON(),
						url: geoJSON2,
						defaultProjection :'EPSG:4326', 
						projection: 'EPSG:3857'
					}),
					style: new ol.style.Style({
						fill: new ol.style.Fill({
							color: 'rgba(0,0,0,0.4)'
						})
					})
				})
			],
			view: new ol.View({
				center: ol.proj.fromLonLat([-1.83,51.77]),
				zoom: 10
			})
		});

		// Change pointer type when element is clickable
		map.on('pointermove', function (e) {
			var pixel = map.getEventPixel(e.originalEvent);
			var hit = map.hasFeatureAtPixel(pixel);
			map.getViewport().style.cursor = hit ? 'pointer' : '';
		});

		/* Option B */
		mapB.on('pointermove', function (e) {
			var pixel = mapB.getEventPixel(e.originalEvent);
			var hit = mapB.hasFeatureAtPixel(pixel);
			mapB.getViewport().style.cursor = hit ? 'pointer' : '';
		});

	</script>

	<!-- / Visual and interaction reference -->
	<!-- / Open layers -->
{% endblock %}