{% extends "layout.html" %}

{% block page_title %}Graphs - FIS Prototype - GOV.UK{% endblock %}

{% block head %}
  {% include "partials/head.html" %}
  {% include "partials/snippets_head.html" %}
  <!--<link rel="stylesheet" href="https://openlayers.org/en/v3.19.1/css/ol.css" type="text/css">-->
  <link rel="stylesheet" href="/public/stylesheets/vendor/ol.css" type="text/css">
  <script src="https://openlayers.org/en/v3.19.1/build/ol.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

	{% include "partials/phase_banner.html" %}
	{% include "partials/breadcrumb.html" %}

	<div class="grid-row">

		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				<span class="heading-secondary">FIS Prototype</span>
				Maps
			</h1>

		</div>

	</div>

	<div class="grid-row">

		<div class="column-two-thirds">

			<section aria-labelledby="flood-warning-area" role="region">

				<h2 id="flood-warning-area" class="heading-medium">
					Warning or severe warning
				</h2>       

				<div class="map" id="map"></div>

			</section>

		</div>

	</div>

</main>

{% endblock %}

{% block body_end %}
  <!-- GOV.UK elements redirect -->
  <!--<script src="/public/javascripts/redirect.js"></script>-->
  {% include "partials/scripts.html" %}

  <!-- Open layers -->
  <!-- Below is for visual and interaction reference only -->
  <!-- Will need to be converted to production code -->

	<script type="text/javascript">

		var geoJSON = '/public/javascripts/json/features.json';
		var selectedId = '123FWF315'; // Warning
		//var selectedId = '123FWF308'; // Warning removed
		//var selectedId = '123WAF963'; // Alert

		var tile = new ol.layer.Tile({
			source: new ol.source.OSM()
		});

		var styleFunction = function(feature, resolution) {

			var styles = [];

			// Alert area colours
			var strokeColour = 'rgba(241,135,0,1)';
			var fillColour = 'rgba(241,135,0,1)';
			var strokeWidth = 2;
			var zIndex = 2;

			// Warning or severe warning colours
			if (feature.get('severity') == 1 || feature.get('severity') == 2) {
				strokeColour = 'rgba(227,0,15,1)';
				fillColour = 'rgba(227,0,15,1)';
				zIndex = 3;
			}
			
			// Warning removed colours
			else if (feature.get('severity') == -1) {
				strokeColour = '#6F777B';
				fillColour = '#6F777B';
				zIndex = 3;				
			}

			// Generate style
			var style = new ol.style.Style({
				fill: new ol.style.Fill({ color: fillColour }),			
				stroke: new ol.style.Stroke({ color: strokeColour, width: strokeWidth, miterLimit: 2, lineJoin: 'round' }),
				zIndex: zIndex 
			});

			// Selected area style
			var styleSelectedGlow = new ol.style.Style({
				stroke: new ol.style.Stroke({ color: 'rgba(255,179,31,1)', width: 10, miterLimit: 2, lineJoin: 'round' }),
				zIndex: zIndex
			});
			var styleSelectedBdr = new ol.style.Style({
				stroke: new ol.style.Stroke({ color: 'rgba(0,0,0,0.2)', width: 1, miterLimit: 2, lineJoin: 'round' }),
				zIndex: zIndex
			});

			// Add selected style first
			if (feature.getId() == selectedId) {
				styles.push(styleSelectedGlow);
				styles.push(style);
				styles.push(styleSelectedBdr);
			} else {
				styles.push(style);
			}

			return styles;

		};

		var source = new ol.source.Vector({
			format: new ol.format.GeoJSON(),
			url: geoJSON,
			defaultProjection :'EPSG:4326', 
			projection: 'EPSG:3857'
		});

		var targetAreas = new ol.layer.Image({
			source: new ol.source.ImageVector({
				source: source,
				style: styleFunction
			}),
			opacity: 0.75
		});

		var view = new ol.View({
			center: ol.proj.fromLonLat([-1.98221629139491,53.7296721399487]),
			zoom: 14
		});

		var map = new ol.Map({
			target: 'map',
			layers: [tile, targetAreas],
			view: view
		});

		// Blend mode

		/*
		map.on('precompose', function(e){
			e.context.globalCompositeOperation = 'source-over';
		});
		map.on('postcompose', function(e){
			e.context.globalCompositeOperation = 'source-over';
		});

		// Iterate through features after loaded

		/*
		var sourceListener = source.on('change', function(e) {
			if (source.getState() == 'ready') {
				source.unByKey(sourceListener);
				var feature = source.getFeatureById(selectedId);
			}
		});
		*/

		// Change pointer type and highlight style

		map.on('pointermove', function (e) {
			var pixel = map.getEventPixel(e.originalEvent);
			var hit = map.hasFeatureAtPixel(pixel);
			map.getViewport().style.cursor = hit ? 'pointer' : '';
		});


	</script>

	<!-- / Visual and interaction reference -->
	<!-- / Open layers -->
{% endblock %}