{% extends "layout.html" %}

{% block page_title %}Graphs - FIS Prototype - GOV.UK{% endblock %}

{% block head %}
  {% include "partials/head.html" %}
  {% include "partials/snippets_head.html" %}
  <!--<link rel="stylesheet" href="https://openlayers.org/en/v3.19.1/css/ol.css" type="text/css">-->
  <link rel="stylesheet" href="/public/stylesheets/vendor/ol.css" type="text/css">
  <script src="https://openlayers.org/en/v3.19.1/build/ol.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

	{% include "partials/phase_banner.html" %}
	{% include "partials/breadcrumb.html" %}

	<div class="grid-row">

		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				<span class="heading-secondary">FIS Prototype</span>
				Maps
			</h1>

		</div>

	</div>

	<div class="grid-row">

		<div class="column-two-thirds">

			<section aria-labelledby="flood-warning-area" role="region">

				<h2 id="flood-warning-area" class="heading-medium">
					Warning or severe warning
				</h2>       

				<div class="map" id="map"></div>


				<h2 id="flood-alert-area" class="heading-medium">
					Alert
				</h2>       

				<div class="map" id="map-b"></div>
				
				<h2 id="flood-warning-area" class="heading-medium">
					Warning no longer in force
				</h2>       

				<div class="map" id="map-c"></div>

			</section>

		</div>

	</div>

</main>

{% endblock %}

{% block body_end %}
  <!-- GOV.UK elements redirect -->
  <!--<script src="/public/javascripts/redirect.js"></script>-->
  {% include "partials/scripts.html" %}

  <!-- Open layers -->
  <!-- Below is for visual and interaction reference only -->
  <!-- Will need to be converted to production code -->

	<script type="text/javascript">

		var geoJSON1 = '/public/javascripts/json/061waf06Coln.json';
		var geoJSON2 = '/public/javascripts/json/061fwf23CalcLech.json';

		//
		//
		// Styles
		//
		//

		// Higlighted style displays a 4px border to the outside of the target area
		var styleSelected = new ol.style.Style({
			stroke: new ol.style.Stroke({ color: 'rgba(255,191,71,1)', width: 8, miterLimit: 2, lineJoin: 'round' }),
		});

		// Warning

		var styleWarning = new ol.style.Style({
			fill: new ol.style.Fill({ color: 'rgba(227,0,15,0.8)' }),			
			stroke: new ol.style.Stroke({ color: 'rgba(227,0,15,1)', width: 2, miterLimit: 2, lineJoin: 'round' })
		});

		// Alert

		var styleAlert = new ol.style.Style({
			fill: new ol.style.Fill({ color: 'rgba(241,135,0,0.8)' }),			
			stroke: new ol.style.Stroke({ color: 'rgba(241,135,0,1)', width: 2, miterLimit: 2, lineJoin: 'round' })
		});

		// Warning no longer in force (Removed)

		var styleRemoved = new ol.style.Style({
			fill: new ol.style.Fill({ color: 'rgba(123,123,123,0.8)' }),			
			stroke: new ol.style.Stroke({ color: 'rgba(123,123,123,1)', width: 2, miterLimit: 2, lineJoin: 'round' })
		});
		
		
		//
		//
		// Warning or sever warning map
		//
		//

		var title = new ol.layer.Tile({
			source: new ol.source.OSM()
		});

		var area1 = new ol.layer.Vector({
			source: new ol.source.Vector({
				format: new ol.format.GeoJSON(),
				url: geoJSON2,
				defaultProjection :'EPSG:4326', 
				projection: 'EPSG:3857'
			}),
			style: [styleWarning]
		});

		var area2 = new ol.layer.Vector({
			source: new ol.source.Vector({
				format: new ol.format.GeoJSON(),
				url: geoJSON1,
				defaultProjection :'EPSG:4326', 
				projection: 'EPSG:3857'
			}),
			style: [styleSelected, styleWarning]
		});

		var map = new ol.Map({
			target: 'map',
			layers: [title, area1, area2],
			view: new ol.View({
				center: ol.proj.fromLonLat([-1.83,51.77]),
				zoom: 10
			})
		});

		// Enable transparency above zoom level of 10
		// With a solid fill at small zoom levels target areas are easier to identify and select

		// Change pointer type and highlight style
		map.on('pointermove', function (e) {
			var pixel = map.getEventPixel(e.originalEvent);
			var hit = map.hasFeatureAtPixel(pixel);
			map.getViewport().style.cursor = hit ? 'pointer' : '';
		});


		//
		//
		// Alert map
		//
		//

		var title = new ol.layer.Tile({
			source: new ol.source.OSM()
		});

		var area1B = new ol.layer.Vector({
			source: new ol.source.Vector({
				format: new ol.format.GeoJSON(),
				url: geoJSON2,
				defaultProjection :'EPSG:4326', 
				projection: 'EPSG:3857'
			}),
			style: [styleAlert]
		});

		var area2B = new ol.layer.Vector({
			source: new ol.source.Vector({
				format: new ol.format.GeoJSON(),
				url: geoJSON1,
				defaultProjection :'EPSG:4326', 
				projection: 'EPSG:3857'
			}),
			style: [styleSelected, styleAlert]
		});

		var mapB = new ol.Map({
			target: 'map-b',
			layers: [title, area1B, area2B],
			view: new ol.View({
				center: ol.proj.fromLonLat([-1.83,51.77]),
				zoom: 10
			})
		});

		// Change pointer type and highlight style
		mapB.on('pointermove', function (e) {
			var pixel = mapB.getEventPixel(e.originalEvent);
			var hit = mapB.hasFeatureAtPixel(pixel);
			mapB.getViewport().style.cursor = hit ? 'pointer' : '';
		});


		//
		//
		// Warning no longer inforce map
		//
		//
		
		var title = new ol.layer.Tile({
			source: new ol.source.OSM()
		});

		var area1C = new ol.layer.Vector({
			source: new ol.source.Vector({
				format: new ol.format.GeoJSON(),
				url: geoJSON2,
				defaultProjection :'EPSG:4326', 
				projection: 'EPSG:3857'
			}),
			style: [styleRemoved]
		});

		var area2C = new ol.layer.Vector({
			source: new ol.source.Vector({
				format: new ol.format.GeoJSON(),
				url: geoJSON1,
				defaultProjection :'EPSG:4326', 
				projection: 'EPSG:3857'
			}),
			style: [styleSelected, styleRemoved]
		});

		var mapC = new ol.Map({
			target: 'map-c',
			layers: [title, area1C, area2C],
			view: new ol.View({
				center: ol.proj.fromLonLat([-1.83,51.77]),
				zoom: 10
			})
		});

		// Change pointer type and highlight style
		mapC.on('pointermove', function (e) {
			var pixel = mapC.getEventPixel(e.originalEvent);
			var hit = mapC.hasFeatureAtPixel(pixel);
			mapC.getViewport().style.cursor = hit ? 'pointer' : '';
		});

	</script>

	<!-- / Visual and interaction reference -->
	<!-- / Open layers -->
{% endblock %}