{% extends "layout.html" %}

{% block page_title %}River Greta at Low Briery - Latest river level information - GOV.UK{% endblock %}

{% block head %}
  {% include "partials/head.html" %}
  {% include "partials/snippets_head.html" %}
  <link rel="stylesheet" href="https://openlayers.org/en/v3.19.1/css/ol.css" type="text/css">
  <script src="https://openlayers.org/en/v3.19.1/build/ol.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

  {% include "partials/phase_banner.html" %}

  <div class="grid-row">
    
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">River levels</h1>

      {% block message %}
      {% endblock %}

      <h2 id="latest-levels" class="heading-medium">Latest river levels</h2>

      <h3 class="heading-small">How are river levels measured?</h3>
      <p>Copy</p>

      <h3 class="heading-small">How often are river and sea levels measured?</h3>
      <p>Copy</p>

      <h3 class="heading-small">How might river levels affect flood risk?</h3>
      <p>Copy</p>

      <h2 id="forecast-levels" class="heading-medium">Forecast river levels</h2>

      <h3 class="heading-small">How the Environment Agency uses forecasts to assess flood risk.</h3>

      <p>The Environment Agency’s Flood Forecasters use forecast river and tidal levels along with other knowledge (e.g. our understanding of the uncertainty in the forecast) to assess flood risk and to issue flood alerts and warnings to advise people when to take action. For the coast, we also take into account the impacts of large waves and spray to assess whether to issue a flood warning. You can sign up to receive flood warnings.</p>

      <h3 class="heading-small">How forecast levels are produced.</h3>
      <p>The forecast levels shown here are computer model predictions based on data and information including the Met Office’s rainfall forecasts and observed river levels. The coastal forecast levels are also based on predicted tide and wind information from the Met Office and other organisations.</p>

    </div>

  </div>

</main><!-- / #content -->
{% endblock %}

{% block body_end %}

  <!-- GOV.UK elements redirect -->
  <script src="/public/javascripts/redirect.js"></script>
  {% include "partials/scripts.html" %}

{% endblock %}

