{% extends "layout.html" %}

{% block head %}
  {% include "partials/head.html" %}
  {% include "partials/snippets_head.html" %}
  <link rel="stylesheet" href="https://openlayers.org/en/v3.19.1/css/ol.css" type="text/css">
  <script src="https://openlayers.org/en/v3.19.1/build/ol.js" type="text/javascript"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <!--[if IE 9]><script src="/public/javascripts/aight.min.js"></script><![endif]-->
  <script src="http://d3js.org/d3.v3.min.js"></script>
{% endblock %}

{% block content %}

<main id="content" tabindex="-1">

  {% include "partials/phase_banner.html" %}

  <div class="grid-row">
    
    <div class="column-two-thirds">

      <h1 class="heading-xlarge xlarge-river-level">
        {% block heading %}{% endblock %}
      </h1>

      <div id="flood-situation" aria-label="Nearby flood situation" role="alert" aria-live="assertive">
      
        {% block message %}{% endblock %}

      </div>

    </div>

  </div>


  <section class="visualisation" id="visualisation" aria-labelledby="visualisation-heading" aria-live="polite">
      
    {% block riverLevels %}{% endblock %}

  </section>
  

  <div class="grid-row">
      
    <div class="column-two-thirds">
      
      {% block uncertainty %}
      <details>
          <summary>
            <span class="summary">How river levels are measured</span>
          </summary>
          <div class="panel panel-border-narrow">
            <p>For most river levels the data we collect is fed into this service once or twice a day. We often increase this frequency whenever there is a greater risk of flooding.</p>
          </div>
      </details>
      {% endblock %}
      
    </div>
  
  </div>


  <section id="nearby-areas" class="nearby-areas" aria-labelledby="nearby-areas-heading" role="status" aria-live="polite">
    
    <div class="grid-row">

      <div class="column-two-thirds">

        <h2 class="heading-medium" id="nearby-areas-heading">What effect could these levels have on nearby areas?</h2>
          
        {% block nearby_areas %}{% endblock %}

      </div>

    </div>

  </section>


  <div class="icons-buttons">
      
    <div class="grid-row">

      <div class="column-two-thirds">

        <h2 class="heading-medium" id="social" >Share this page</h2>
        <ul>
          <li>
            <a target="_blank" href="https://twitter.com/intent/tweet?original_referer&amp;url=https%3A%2F%2Fgds.blog.gov.uk%2F2017%2F04%2F03%2Fwhat-we-blogged-about-in-march-2017%2F&amp;text=What+we+blogged+about+in+March+2017" class="twitter">Twitter</a>
          </li>
          <li>
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgds.blog.gov.uk%2F2017%2F04%2F03%2Fwhat-we-blogged-about-in-march-2017%2F" class="facebook">Facebook</a>
          </li>
          <li>
            <a href="mailto:abc@123.gov.uk?subject=Subject" class="email">Email</a>
          </li>
        </ul>
        <div class="clearfix"></div>

      </div>

    </div>

  </div>


  <div class="feedback">

    <div class="grid-row">

      <div class="column-two-thirds">
          
        <h2 class="heading-medium visuallyhidden">Give feedback</h2>      
        <p class="font-xsmall">Your <a href="" onclick="return false;">feedback</a> will help us improve this service.</p>

      </div>

    </div>

  </div>


</main>


{% endblock %}

{% block body_end %}
<!-- GOV.UK elements redirect -->
<script>
	var jsonSource = '{{ level_data }}'
</script>
<script src="/public/javascripts/graph.js"></script>
{% include "partials/scripts.html" %}
{% endblock %}

