{% extends "layout.html" %}

{% block head %}
  {% include "partials/head.html" %}
  {% include "partials/snippets_head.html" %}
  <link rel="stylesheet" href="https://openlayers.org/en/v3.19.1/css/ol.css" type="text/css">
  <script src="https://openlayers.org/en/v3.19.1/build/ol.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

  {% include "partials/phase_banner.html" %}

  <div class="grid-row">
    
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {% block heading %}{% endblock %}
      </h1>

      <!--
      <p class="time-stamp">at 1.30pm on Tuesday 16 May 2017</p>
      -->

      {% block message %}{% endblock %}

    </div>

    <!--
    <div class="column-third">
      
      <aside class="related" role="complementary">

        <h2 class="heading-medium related-title">River levels</h2>
        
        <nav role="navigation">

          <ul>

              <li class="related-item">
                <a href="/river-levels">How might river levels affect flood risk?</a>
              </li>

              <li class="related-item">
                <a href="/river-levels">How river levels are measured?</a>
              </li>

              <li class="related-item">
                <a href="/river-levels">How forecast levels are produced?</a>
              </li>

          </ul>

        </nav>

      </aside>

    </div>
    -->

  </div>

  {% block riverLevels %}{% endblock %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <section class="target-areas">

        {% block nearby_areas %}{% endblock %}

      </section>

      <section class="target-areas">
          
        <p style="margin-top:2em"><a href="">View nearby river levels</a></p>
          
      </section>

    </div>

  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

    	<section class="social">
      
			<div class="icons-buttons">
				<h3 class="heading-medium">Share this page</h3>
				<ul>
					<li>
						<a target="_blank" href="https://twitter.com/intent/tweet?original_referer&amp;url=https%3A%2F%2Fgds.blog.gov.uk%2F2017%2F04%2F03%2Fwhat-we-blogged-about-in-march-2017%2F&amp;text=What+we+blogged+about+in+March+2017" class="twitter">Twitter</a>
					</li>
					<li>
						<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgds.blog.gov.uk%2F2017%2F04%2F03%2Fwhat-we-blogged-about-in-march-2017%2F" class="facebook">Facebook</a>
					</li>
					<li>
						<a href="mailto:?subject=I wanted to share this post with you from Government Digital Service&amp;body=What we blogged about in March 2017 https://gds.blog.gov.uk/2017/04/03/what-we-blogged-about-in-march-2017/" class="email">Email</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>

		</section>

    </div>

  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

      <section class="feedback">
      
        <p class="font-xsmall">Your <a href="" onclick="return false;">feedback</a> will help us improve this service.</p>

      </section>

    </div>

  </div>

</main>


{% endblock %}

{% block body_end %}

  {% include "partials/scripts.html" %}

{% endblock %}

