{% extends "layout.html" %}

{% block page_title %}Measuring stations - FIS Prototype - GOV.UK{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

  {% include "partials/breadcrumb.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">FIS Prototype</span>
        Measuring stations
      </h1>
      <p class="lede">Fixed error band and buffer</p>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h3 class="heading-medium">Scenarios</h3>

      <p><strong class="bold-small">Forecast line only</strong></p>
      <span>Active stations</span>
      <ul class="list list-bullet">
        <li><a href="/station/5034-forecast-warning">Forecast with warning</a></li>
        <li><a href="/station/5034-forecast-warning-highest">Forecast with warning (inc highest threshold)</a></li>
        <li><a href="/station/5034-forecast-low-lying-flooding-possible">Forecast flooding possible</a></li>
        <li><a href="/station/5034-forecast-normal">Forecast normal</a></li>
        <li><a href="/station/5034-no-forecast">No forecast</a></li>
      </ul>
      <span>Closed stations</span>
      <ul class="list list-bullet">
        <li><a href="/station/5034-closed-station">Closed station</a></li>
      </ul>      
      <span>Suspended stations</span>
      <ul class="list list-bullet">
        <li><a href="/station/5034-suspended-station">Suspended station</a></li>
      </ul>      
      <span>Observed data error</span>
      <ul class="list list-bullet">
        <li><a href="/station/5034-observed-data-error">Observed data error</a></li>
      </ul>      
      <span>Forecast data error</span>
      <ul class="list list-bullet">
        <li><a href="/station/5034-forecast-data-error">Forecast data error</a></li>
      </ul>      
      <p><strong class="bold-small">Fixed error band and buffer</strong></p>
      <ul class="list list-bullet">
        <li><a href="/station/5034-fixed-error-band">Fixed error band</a></li>
        <li><a href="/station/5034-error-buffer">Error buffer</a></li>
      </ul>

    </div>
  </div>

</main><!-- / #content -->
{% endblock %}

{% block body_end %}
  <!-- GOV.UK elements redirect -->
  <!--<script src="/public/javascripts/redirect.js"></script>-->
  {% include "partials/scripts.html" %}
{% endblock %}

