{% extends "layout.html" %}

{% block page_title %}Measuring stations - FIS Prototype - GOV.UK{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

  {% include "partials/phase_banner.html" %}
  {% include "partials/breadcrumb.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">FIS Prototype</span>
        Measuring stations
      </h1>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <ul class="list">
        <li><a href="/static/v3/station/5034.html">Normal range</a></li>
        <li><a href="/static/v3/station/5034-flooding-possible.html">Flooding is possible (A)</a>, <a href="/static/v3/station/5034-flooding-possible-b.html">Flooding is possible (B)</a></li>
        <!--
        <li><a href="/station/5205">Normal range (Tidal)</a></li>
        <li><a href="/station/5205-flooding-possible">Flooding is possible (Tidal, A)</a>, <a href="/station/5205-flooding-possible">Flooding is possible (Tidal, B)</a></li>
        -->
      </ul>

    </div>
  </div>

</main><!-- / #content -->
{% endblock %}

{% block body_end %}
  <!-- GOV.UK elements redirect -->
  <script src="/public/javascripts/redirect.js"></script>
  {% include "partials/scripts.html" %}
{% endblock %}

