{% extends "layout.html" %}

{% block head %}
  {% include "partials/head.html" %}
  {% include "partials/snippets_head.html" %}
  <link rel="stylesheet" href="https://openlayers.org/en/v3.19.1/css/ol.css" type="text/css">
  <script src="https://openlayers.org/en/v3.19.1/build/ol.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

<main id="content" role="main" tabindex="-1">

  {% include "partials/phase_banner.html" %}

  <div class="grid-row">
    
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {% block heading %}{% endblock %}
      </h1>

      <p class="time-stamp">Updated at 9:30am on Wednesday 11 January 2017</p>

      {% block message %}{% endblock %}

    </div>

    <!--
    <div class="column-third">
      
      <aside class="related" role="complementary">

        <h2 class="heading-medium related-title">River levels</h2>
        
        <nav role="navigation">

          <ul>

              <li class="related-item">
                <a href="/river-levels">How might river levels affect flood risk?</a>
              </li>

              <li class="related-item">
                <a href="/river-levels">How river levels are measured?</a>
              </li>

              <li class="related-item">
                <a href="/river-levels">How forecast levels are produced?</a>
              </li>

          </ul>

        </nav>

      </aside>

    </div>
    -->

  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

      <section class="station-data">

        <h2 class="heading-medium" id="river-levels">
          {% block stationDataHeading %}
          River levels for the last 5 days and forecast levels for the next 36 hours at this location
          {% endblock %}
        </h2>       

        <figure class="chart">

          <div class="chart-container">

            <div class="chart-annotation">

              <ol>
                {% block chart_annotation %}
                <li style="top:-3px">At this level some property flooding is possible here and in <a class="scroll" href="#flood-warning">nearby areas</a> <span>(1.60m)</span></li>
                <li style="top:216px">At this level flooding of low-lying land is possible here and in <a class="scroll" href="#flood-alert">nearby areas</a> <span>(1.10m)</span></li>
                {% endblock %}
              </ol>

            </div>

            <div class="chart-container-inner">

              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 650 300" preserveAspectRatio="none">

                <g class="lines" transform="translate(0,2)">

                {% block chartLines %}{% endblock %}

                </g>

              </svg>

              {% block chartLevels %}{% endblock %}

              <ul>

                <li>Sat, 7 Jan</li>
                <li>Sun, 8 Jan</li>
                <li>Mon, 9 Jan</li>
                <li>Tue, 10 Jan</li>
                <li><strong>Wed, 11 Jan</strong></li>

              </ul>

              {% block chart_current_level %}{% endblock %}

            </div>

          </div>

          <figcaption class="chart-legend" role="presentation">

            {% block stationLegend %}
            <ol>
              <li class="area">Recorded level <span>(latest 0.9m)</span></li>
              <li class="area">Forecast level <span>(highest 0.91m)</span></li>
            </ol>
            {% endblock %}

          </figcaption>

        </figure>

        {% block highest_level %}
        <p class="font-xsmall"><a href="#" onclick="return false;">Show highest recorded level</a></p>
        {% endblock %}

      </section>

    </div>

  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

      <section class="target-areas">

        {% block nearby_areas %}{% endblock %}

      </section>

    </div>

  </div>


  <div class="grid-row">

    <div class="column-two-thirds">

        <section class="nearby-measuring-stations">

          <h2 class="heading-medium" id="nearby-measuring-stations">View a nearby measuring station</h2>

          <p>Select a marker on the map to view measuring station.</p>

          <div id="map-levels" class="map-container">

            {% include "partials/map-nearby-measuring-stations.html" %}
            
          </div>

        </section>

        <details>

          <summary><span class="summary">How might river levels affect flood risk?</span></summary>

          <div class="panel panel-border-narrow">

            <p>Copy</p>

          </div>

        </details>

        <details>

          <summary><span class="summary">How river levels are measured?</span></summary>

          <div class="panel panel-border-narrow">

            <p>Copy</p>

          </div>

        </details>

        <details>

          <summary><span class="summary">How are forecast levels are produced?</span></summary>

          <div class="panel panel-border-narrow">

            <p>Copy</p>

          </div>

        </details>

    </div>

  </div>

  <div class="grid-row">

    <div class="column-full">

      <nav class="secondary-nav">

        {% include "partials/secondary-links.html" %}

      </nav>

    </div>

  </div>

  <div class="grid-row">

    <div class="column-two-thirds">

      <section class="feedback">
      
        <p>Your <a href="">feedback</a> will help us improve this service.</p>

      </section>

    </div>

  </div>

</main>
{% endblock %}

{% block body_end %}

  {% include "partials/scripts.html" %}

{% endblock %}

